.modalbantuan.fade.in {
    top: 10%;
}
.fade.in {
    opacity: 1;
}
.modalbantuan.fade {
    -webkit-transition: opacity .3s linear, top .3s ease-out;
    -moz-transition: opacity .3s linear, top .3s ease-out;
    -o-transition: opacity .3s linear, top .3s ease-out;
    transition: opacity .3s linear, top .3s ease-out;
    top: -25%;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.hide {
    display: none;
}
.modalbantuan {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin-left: -280px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: hidden;
}
.modalbantuan-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}
.modalbantuan-header .close {
    margin-top: 2px;
}
.close {
    float: right;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    font-size: 45px;
    height: 50px;
    cursor: pointer;
}
.modalbantuan-body {
    position: relative;
    max-height: 80%;
    overflow-y: visible;
    padding: 15px;
}

.modalbantuan-body.modalbantuan-body-video iframe {
    height: 400px;
    width: 100%;
}

.modalbantuan-backdrop,
.modalbantuan-backdrop.fade.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.modalbantuan-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}
.modalbantuan-header .link {
    white-space: normal;
    margin-left: 5px;
}
@media (max-width: 767px) {
    .modalbantuan.fade.in {
        top: 20px;
    }
    .modalbantuan {
        position: fixed;
        top: 20px;
        left: 20px;
        right: 20px;
        width: auto;
        margin: 0;
    }
}
@media (max-width: 480px) {
    .modalbantuan {
        top: 10px;
        left: 10px;
        right: 10px;
    }
}
