
html,body{
  position: relative;
  min-width: 100%;
  min-height: 100%;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}
.overlay{
  position: absolute;
  min-width: 100%;
  z-index: 100;
  min-height: 100%;
  background-color: rgba(0,0,0,0.5);
  top:0;
  left: 0;
  display: none;
}

.successFavorit{
	position:fixed;
  min-width: 100%;
  z-index: 100;
  min-height: 100%;
  //background-color: rgba(0,0,0,0.5);
  top:0;
  left: 0;
  opacity:0;
  transition: all .55s ease-in-out;
   -moz-transition: all .55s ease-in-out;
   -webkit-transition: all .55s ease-in-out;
   display:none;
	.infvr{
		position:absolute;
		top:30%;
		left:50%;

		padding:10px 20px;
		background-color:#fff;
		border:5px solid rgba(201, 224, 82, 0.5);
	}
}

.active.successFavorit{
	display:inherit;
	opacity:1;

}

.overlay-open.overlay{
  display: inherit;
}
body {

    //font-family : 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size   : 13px;
    line-height : 24px;
    color       : #111;
    font-weight : 500;
    /* --------------------
       main Wrapper
       -------------------*/
    #main-wrapper{
        position: relative;
        min-height: 100%;
        min-width: 100%;
        margin: 0;
        padding: 0;
        background-color: #fafafa;

        .uc-mobile-menu-pusher{
          position: relative;
          min-height: 100%;
          min-width: 100%;
        }

        .content-wrapper{
          position: relative;
          min-width: 100%;
          min-height: 100%;
          background-color: #fafafa;

        }

    }


/* --------------------------------------
typografi
------------------------------------------*/


.dateDefault{
  span{border:0; background-color:#fafafa;}
}

.boxed{
  position: relative;
  max-width: 85%;
  margin: 0 auto;
  height: auto;
}
.boxed80{
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  height: auto;
}
.boxed70{
  position: relative;
  max-width: 70%;
  margin: 0 auto;
  height: auto;
}

.boxed60{
  position: relative;
  max-width: 60%;
  margin: 0 auto;
  height: auto;
}
.boxed50{
  position: relative;
  max-width: 50%;
  margin: 0 auto;
  height: auto;
}



h1, h2, h3, h4, h5, h6 {
    margin      : 0 0 15px;
    color       : #313131;
    font-weight : 400;

    }

h1 {
    font-size   : 30px;
    line-height : 24px;
    }

h2 {
    font-size   : 24px;
    line-height : 24px;
    }

h3 {
    font-size   : 20px;
    line-height : 24px;
    }

h4 {
    font-size   : 18px;
    line-height : 24px;
    }

h5 {
    font-size   : 16px;
    line-height : 24px;
    font-weight : 600;
    }

h6 {
    font-size   : 14px;
    line-height : 24px;
    }

/* --------------------------------------
link --> a
------------------------------------------*/
a {
    color              : $coloridentitas1;
    text-decoration    : none;
    cursor: pointer;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
    }

a,
a:active,
a:focus,
a:active {
    text-decoration : none;
    outline         : none
    }

a:hover,
a:focus {
    text-decoration : none;
    color: $coloridentitas1;
    opacity: 0.8;
    }


ul.default-ul {
    margin     : 0;
    padding    : 0;
    list-style : none;
    }


/* --------------------
  Background
   -------------------*/

.gray-bg {
    background-color : #f9f9f9;
    }

.white-bg {
    background-color : #fff;
    }

/**Navbar**/
.menu-navbar-g{
  display: inline-block;
  width: auto;
  margin: 0.5em 0;
  input{display: none;}
  .trigger-menug{
    display: block;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    img.userImg{
      margin-right: 10px;
      border-radius: 50%;
      height: 35px;
      width: 35px;
    }
  }

   .list-menug li{
    display: block;
    width: auto;
    background-color: #fff;
    padding: 15px 20px;
    a{color: #111;font-size: 14px;}
  }
  .list-menug li:hover{
    background-color: $coloridentitas1;
    color: #fff;
    cursor: pointer;
    a{color: #fff}
  }
  input ~ .list-menug{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 65px;
    top: -20px;
  }
  input:checked + .trigger-menug{}
  input:checked ~ .list-menug{
    visibility: visible;
    opacity: 1;
    top:50px;
  }
}
.animate{
 -webkit-transition: all .3s;
 -moz-transition: all .3s;
 -ms-transition: all .3s;
 -ms-transition: all .3s;
 transition: all .3s;
 backface-visibility:hidden;
 -webkit-backface-visibility:hidden; /* Chrome and Safari */
 -moz-backface-visibility:hidden; /* Firefox */
 -ms-backface-visibility:hidden; /* Internet Explorer */
}

.lang-toggle{
  position: relative;
  margin: 0.5em 0;
  margin-left: 1em;
  width: auto;
  select.lang-dropdown{
    padding: 5px;
    width: 55px;
    border: none;
    box-shadow: none;

    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background: url('../img/caret-down.png') no-repeat transparent;
    background-position: right 1em top 50%;
    background-size: 8px 8px;
      font-size: 14px;
      font-weight: bold;
      option{
        background-color: #fff;
      }
      option:hover{
        background-color: $coloridentitas1;
      }
  }
  select.lang-dropdown:focus{
    outline: none;
  }
}


/*Button */
button{-webkit-transition : all 0.3s ease 0s;
-moz-transition    : all 0.3s ease 0s;
-o-transition      : all 0.3s ease 0s;
transition         : all 0.3s ease 0s;}
a.btn{
  display: block;
  width: 100%;
}
.btn {
    padding        : 10px 30px;
    margin-bottom  : 0;
    font-size      : 13px;
    border-radius  : 0;
    text-transform : capitalize;
    width: 100%;
    border-radius: 3px;
    }

.btn-primary {
  color            : $coloridentitas1;
  background-color : transparent;
  border-color     : $coloridentitas1;
    }

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
  color            : #fff;
  background-color : $coloridentitas1;
  border-color     : $coloridentitas1;
    }

.btn-default {
    color            : #fff;
    background-color : $coloridentitas1;
    border-color     : $coloridentitas1;

    }

.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
    color            : $coloridentitas1;
    background-color : transparent;
    border-color     : $coloridentitas1;
    }

.btn-black {
    color            : #ffffff;
    background-color : #313131;
    border-color     : #313131;
    }

.btn-black:focus,
.btn-black:hover {
    color            : #313131;
    border-color     : #313131;
    background-color : transparent !important;
    }

button:focus,
.btn:focus,
.btn:active:focus {
    outline : none;
    }

/* -------------------
   Padding
   --------------------*/
.pt-100 {
    padding-top : 100px;
    }

.ptb-90 {
    padding-bottom : 90px;
    padding-top    : 90px;
    }

.ptb-100 {
    padding-top    : 100px;
    padding-bottom : 100px;
    }

.ptb-150 {
    padding-top    : 150px;
    padding-bottom : 150px;
    }

.ptb-160 {
    padding-top    : 160px;
    padding-bottom : 160px;
    }

.ptb-170 {
    padding-top    : 170px;
    padding-bottom : 170px;
    }

@media (min-width : 768px) {

    .pl-30 {
        padding-left : 30px;
        }

    .pr-30 {
        padding-right : 30px;
        }
    }


/* ----------------------------------------------
text-highlights
------------------------------------------------- */
.text-highlights {
    color   : #ffffff;
    padding : 0px 5px;
    }

.text-highlights.black {
    background : #313131;
    }

.text-highlights.blue {
    background : $coloridentitas1;
    }



/* ------------------------------------------------------------------
BACK TO TOP
--------------------------------------------------------------------- */
#toTop {

    position    : fixed;
    bottom      : 30px;
    right       : 30px;
    color       : $coloridentitas1;
    cursor      : pointer;
    display     : none;
    z-index     : 9999;
    width       : 30px;
    height      : 30px;
    border      : 2px solid $coloridentitas1;
    text-align  : center;
    font-size   : 18px;
    line-height : 24px;
    }

#toTop:hover {
    color              : #ffffff;
    background-color   : $coloridentitas1;
    border             : 1px solid transparent;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
    }

    label{
      font-size: 14px;
      color: #263238;
      font-weight: normal;
    }

    /*input style*/
    			.inputDefault{
    				width: 100%;
    				box-shadow: none;
    				outline: none;
    				border-color: $colorinput;
    				background-color: $colorinput;
    				border-radius: 3;

    			}
    			.inputDefault:active,.inputDefault:visited,.inputDefault:focus {

    					box-shadow: none;
    					outline: none;
    					border-color: $colorinput;
    			}


    /*select box default*/
    .selectBoxDefault{

    	.selectWarp{
    		width: 100%;
    		position:relative;
    		display: -moz-inline-stack;
    		display: inline-block;
    		vertical-align: middle;
    		zoom: 1;
    		*display: inline;
    		color: #757575;

    		select{

    			width: 100%;
    			padding: 6px ;
    			height: auto;
    			-webkit-appearance:none;
    			-moz-appearance:none;
    			appearance:none;
    			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
    			box-sizing: border-box;
    			/* Safari 3-4, iOS 1-3.2, Android 1.6- */
    			position:relative;
    			background: url('../img/angle-down.png') no-repeat $colorinput;
    			background-position: right 1em top 50%;
    			background-size: 10px 10px;
    			box-shadow: none;
    			outline: none;
    			border-color: $colorinput;
    			color: #757575;
    			option{
    				color: #757575;
    			}
    		}
    		select:hover,select:active,select:focus{
    			box-shadow: none;
    			outline: none;
    			border-color: #eee;


    		}
    	}
    	/*.selectWarp:after{
    		content: "\f107";
    		font-family: FontAwesome;
    		padding:8px;
    		position:relative;
    		//left:80%;
    		float: right;
    		right: 15px;
    		top:-25px;
    		z-index: 1;
    		width:5px;
    		line-height:5px;
    	}*/
    }

}

.intl-tel-input{
  width: 100%;
  .selected-flag{
    border-right: 1px solid #bdbdbd;
    padding: 0 3.5em 0 8px;
  }

}
.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.separate-dial-code input,
.intl-tel-input.separate-dial-code input[type=text],
.intl-tel-input.separate-dial-code input[type=tel]{
  padding-left: 65px;
}

.modal{
  .modal-dialog{
    .modal-content{
      .modal-header{
        .modal-title{
          font-size: 18px;
          text-align: center;
        }
        button.close{
          position: absolute;
          top:0.5em;
          right: 1em;
        }
      }
    }
  }
}

.container{
  padding-left: 0;
  padding-right: 0;
}
.def-page{
  min-height: 100vh;
  background-color: #fafafa;
}
.depage{
		position: relative;
	  min-width: 100%;
	  margin: 0 auto;
	  padding-top: 1em;
	  padding-bottom: 25em;

	  min-height: 100%;
}
.brcrm{
  position: relative;
  min-width: 100%;
  padding-top: 8em;
  margin: 0 auto;
  margin-bottom: 1em;
  background-color: #fafafa;
  height: auto;
}

/*Breadcrumb*/
        .breadcrumb.subpage{
          background-color: transparent;
        }
				.subpage{
					//background-color: $mainbg;
					padding-left: 0;

   //breadcrumb style 1
					/*
					a.breadcrumb-item{

						color: $coloridentitas1;
					}
					a.breadcrumb-item::after{

						margin-left: 5px;
						content: '>';
					}*/

   //breadcrumb style 2

				}
        a.breadcrumb-item{
          display: block;
          float: left;
          height: 26px;
          background: $coloridentitas2;
          text-align: center;
          padding: 0 15px;
          padding-left: 20px;
          position: relative;
          margin: 0 8px 0 0;

          font-size: 11px;
          text-decoration: none;
          color: #111;
        }

        a.breadcrumb-item::after{
          content: "";
          border-top: 13px solid transparent;
          border-bottom: 13px solid transparent;
          border-left: 13px solid $coloridentitas2;
          position: absolute; right: -13px; top: 0;
          z-index: 5;
        }
        a.breadcrumb-item:hover{
          opacity: 1;
          font-weight: bold;

        }
        a.breadcrumb-item::before{
          content: "";
          border-top: 13px solid transparent;
          border-bottom: 13px solid transparent;
          border-left: 13px solid $mainbg;
          z-index: 0;
          position: absolute; left: 0; top: 0;
        }

        span.active{
          display: block;
          float: left;
          height: 26px;
          background: $coloridentitas2;
          text-align: center;
          padding:0 15px;
          padding-left: 20px;
          position: relative;
          margin: 0 8px 0 0;

          font-size: 11px;
          text-decoration: none;
          color: #111;
        }
        span.active::after{
          content: "";
          border-top: 13px solid transparent;
          border-bottom: 13px solid transparent;
          border-left: 13px solid $coloridentitas2;
          position: absolute; right: -13px; top: 0;
          z-index: 5;
        }
        span.active::before{
          content: "";
          border-top: 13px solid transparent;
          border-bottom: 13px solid transparent;
          border-left: 13px solid $mainbg;
          z-index: 0;
          position: absolute; left: 0; top: 0;
        }
        /*              button style                *
         ********************************************/
        .btn-cool{

          border: none;
          box-shadow: none;
          padding: 3px auto;
          background-color: $coloridentitas2;
          color: #111;
          webkit-transition: opacity 0.3s ease-in;

          -moz-transition: opacity 0.3s ease-in;

          -ms-transition: opacity 0.3s ease-in;

          -o-transition: opacity 0.3s ease-in;

          transition: opacity 0.3s ease-in;
        }
        .btn-cool:hover{
          opacity: 0.6;
          -webkit-transition: opacity 0.3s ease-in;

          -moz-transition: opacity 0.3s ease-in;

          -ms-transition: opacity 0.3s ease-in;

          -o-transition: opacity 0.3s ease-in;

          transition: opacity 0.3s ease-in;

        }
        .btn-cool:active{
          outline: none;
        }

.cbp-tm-menu{
  position: relative;
  text-align: left;
  padding:0;
}

.row-eq-height {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display:         flex;
}

.nulstyle{
  list-style: none;
  margin: 0;
  padding: 0;

}



/*add favorit*/

.modalag{


}

.modalag-body{
  background-color: #EDF0D1;
  .addFav{
    position:relative;
    text-align: center;
    h1{font-size: 18px;font-weight: bold;color: $coloridentitas1;}
    button.btn-cool{
      padding: 5px 30px;
      width: 40%;
      font-size: 14px;
      margin: 1.5em auto;
    }
    span.block{display: block; a{font-weight: bold; text-decoration: underline;color: $coloridentitas1;}}
  }
}

.modalag-content{
}

.modalag-header{
}
.modalag-footer{
}

@media (min-width: 768px){
  .modalag-dialog{
    width: 60%;
    top: 10%;
  }
  .modalag-content{
  }
}
@media (max-width: 767px){
  .modalag-dialog{
    width: 100%;
  }
  .modalag-content{
  }
}


.lmenu{
  //background-color: #fafafa;
   a{font-weight: 600;font-size:12px;color: $coloridentitas1;}
  a.mmIcon::after{
    font-family: 'FontAwesome';
    content:"\f105";
    z-index: 23;
    position: absolute;
    top: 5px;
    right: 1.5em;
    color:$coloridentitas1;
     font-size: 14px;
  }
    .mMenu{
      border: 2px solid $coloridentitas1;
      border-left: 0.5px solid $coloridentitas1;
      visibility: hidden;
      position: absolute;
      list-style:none;
      top:10px;
      left:200px;
      width: auto;
      min-width: 700px;
      min-height: calc(100% - 10px);
      text-align:left;
      padding: 1em 0;
      overflow: hidden;
      background-color: #eee;
      transform: translate3d(-20px, 0px, 0px);
      opacity: 0;
      //transition: transform .3s ease-in-out;
      -webkit-transition : all 0.3s ease 0s;
      -moz-transition    : all 0.3s ease 0s;
      -o-transition      : all 0.3s ease 0s;
      transition         : all 0.3s ease 0s;
      ul{
        .titt{
          padding: 5px;
          font-size: 16px;
          font-weight: bold;
          color: $coloridentitas1;
          border-bottom: 1px solid #bdbdbd;
        }
      }
    }
}
.lmenu:hover {
  background-color: $coloridentitas1;
  a.mmIcon{color: #fff}
  a.mmIcon::after{color: #fff}
  .mMenu{
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    transform: translate3d(0px, 0px, 0px);
  }
}


.adsV{
  width: 100%;
  min-width: 160px;
  height: 600px;
  background-color: #eee;

   display: block;
   p{.adsR{padding-left: 0;}

     text-align: center; font-size: 20px; color: $coloridentitas1;
     padding: 280px 0;
   }
}

.adsH{
  display: block;
  position: relative;
  width: 85%;
  height: 90px;
  margin: 2em auto;
  padding: auto;
  background-color: #eee;
  cursor: pointer;
  display: block;
  p.adsText{
    text-align: center;
    padding: 1.5em 1em;
    vertical-align: middle;
    font-size: 20px; color: $coloridentitas1;
  }
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
  }
}
.adsH:hover{
  p{
    opacity: 0.8;
  }
}


/*social popup share*/

.btn-simple {
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
  text-decoration: underline !important;
  padding:0 !important;
  margin:0 !important;
  &>span{
    /* avoid button movement on click IE */
    position:relative;
  }
}

#btn-share {
  position: relative;
  background: transparent;
  .popover {
    padding: 0;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    .popover-content {
      width: 234px;
      height: 39px;
      margin: 0;
      padding: 0;
      .btn-media {
        width: 78px;
        height: 39px;
        line-height: 39px;
        float: left;
        color: #fff;
        text-align: center;
        //background: #052536;
        &.twitter {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          background: #55acee;
        }
        &.google-plus {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          background: #dd4b39;
        }
        &.facebook {
          border-left: 1px solid #3b5998;
          border-right: 1px solid #3b5998;
          background: #3b5998;
          &:after {
            position: absolute;
            bottom: -10px;
            margin-left: -21px;
            content: "";
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;
            border-top: 10px solid #3b5998;
          }
        }
        &:hover,
        &:focus {
        //  background: #264356;
          &.facebook {
            background: #3b5998;
            &:after {
            //  border-top-color: #264356;
            }
          }
        }
        i {
          font-size: 18px;
          line-height: 29px;
        }
      }
    }
  }
}

.asterik{color: red}

.fs-14 {
    font-size: 14px
}

ul.inline,
ol.inline {
    margin-left: 0;
    list-style: none
}

ul.inline>li,
ol.inline>li {
    display: inline-block;
    *display: inline;
    *zoom: 1
}


.icon-chevron-down-alt::before {
    content: "\e05d"
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}
.icon-search-gray,
i.icon-search-gray {
    background: url(../img/icon_sprite_magnifier@2x.png) no-repeat;
    background-size: 88px 36px;
    background-position: -7px -8px;
    width: 20px;
    height: 20px;
    display: inline-block;
    float: left;
    position: absolute;
    top: 8px;
    left: 15px;
    z-index: 3
}

.absolute{position: absolute;}
.navbar-search {
    padding: 12px 15px;
    margin-bottom: 0;
    z-index: 1;
    width: auto
}

#div_autocomplete {
    position: relative
}

.search-parent-older {
    display: inline
}

#search-keyword {
    position: relative;
    z-index: 2;
    width: 101%!important;
    border-radius: 3px 0 0 3px;
    color: #606060;
    border-right: 0
}

#search-keyword {
    width: 101%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

#search-keyword:focus {
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important
}

.autocomplete-suggestions {
    box-shadow: 1px 1px 1px rgba(166, 166, 166, .1);
    -moz-box-shadow: 1px 1px 1px rgba(166, 166, 166, .1);
    -ms-box-shadow: 1px 1px 1px rgba(166, 166, 166, .1);
    -webkit-box-shadow: 1px 1px 1px rgba(166, 166, 166, .1);
    border: 1px solid #e0e0e0;
    background-color: #fff;
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.autocomplete-group {
    background-color: #f7f7f7;
    font-style: italic;
    color: #aaa;
    font-size: 12px
}

.autocomplete-group span {
    display: block;
    padding: 3px 10px
}

.autocomplete-suggestion {
    display: table;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 3px 10px;
    background-color: #fff;
    white-space: pre-wrap
}

.autocomplete-suggestion:last-child {
    border-bottom: 0
}

.autocomplete-suggestion strong {}

.autocomplete-suggestion .muted {
    color: green
}

.autocomplete-suggestion img {
    width: 65px;
    float: left;
    margin-right: 10px
}

.autocomplete__price {
    color: #666;
    font-size: 11px;
    font-weight: 600
}

.autocomplete__start {
    font-size: 10px;
    color: #999
}

.autocomplete-suggestion~.autocomplete-group {
    border-bottom: 0
}

.autocomplete-selected {
    background: #f0f0f0
}

.search-input__btn {
    top: 5px;
    left: 15px;
    width: 25px;
    height: 25px;
    background: url(../img/icon-search.png) transparent no-repeat;
    background-position: 50%;
    background-size: 16px 16px;
    position: absolute;
    z-index: 3
}

.icon-rubik {
    width: 25px!important;
    height: 25px!important;
    background-image: url(../img/icon-rubik.png)!important;
    background-repeat: no-repeat!important;
    background-position: 50%!important;
    background-size: 25px 25px
}

.searchform {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.search-parent {
    position: relative;
    display: table;
    border-collapse: separate;
    padding: 0 10px
}

.navbar-search .input-wrapper {
    width: 100%;
    padding: 7px 12px 7px 33px;
    margin-bottom: 0;
    display: table-cell
}

.td-cat {
    width: 20px
}

.ie7 .td-cat {
    width: 100px
}

.cat-wrapper {
    position: relative;
    overflow: hidden;
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle
}
.cat-wrapper {
    position: absolute;
    width: auto;
    right: 84px;
    z-index: 999;
    top: 0;
    text-align: right
}

.cat-wrapper .cat-result i {
    position: absolute;
    top: 10px;
    right: 10px
}

.cat-wrapper.active .cat-result {
    color: #e55b36
}

.cat-wrapper.permanent-active {
    color: #e55b36
}

.cat-result-wrapper {
    font-size: 11px;
    background: #fff;
    height: 31px
}

.cat-result {
    color: #777;
    font-size: 11px;
    white-space: nowrap;
    text-indent: 1px;
    height: 34px;
    padding: 0 23px 0 10px;
    text-overflow: ellipsis;
    display: block;
    border: 1px solid #ccc;
    border-right: 0;
    line-height: 32px
}

.cat-select {
    opacity: 0;
    filter: alpha(opacity=0);
    top: 0;
    height: 36px;
    cursor: pointer;
    visibility: visible;
    width: 120px;
    z-index: 10;
    position: absolute;
    margin: 0;
    padding: 7px 8px;
    border: 1px solid #ddd;
    color: #000;
    background: #fff;
    outline: 0;
    right: 0
}


.carousel {

}
.itempc .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}
.itempc .thumb img {
	width: 100%;
	margin: 2px;
}
.itempc img {
	width: 100%;
}

.progressagro{
	background-color:$coloridentitas2;
}
