//
// Variables
// --------------------------------------------------

//warna
$mainbg :#fafafa;
$coloridentitas1 :#0A4227;/*hijau tua*/
$coloridentitas2 :#CAE153;/*hijau muda*/
$coloridentitas3 :#73841b;/*hijau tua muda dikit*/
$colorinput: #fafafa;
$colorbanner :#EEEEEE;
$colorborder: #eee;
//font family lato default
$font-lato: 'Lato', sans-serif;
