/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1280px) {



}

@media all and (max-width: 1280px) and (min-width : 900px) {





}

@media all and (max-width: 1333px) and (min-width : 1280px) {



}



/*==========  Non-Mobile First Method  ==========*/
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 991px) {
}

@media only screen and (max-width : 767px) {
  .footer .footer-content{
    text-align: center;
  }
}

@media only screen and (max-width : 480px) {
  .footer .footer-content{
    text-align: center;
  }
}

@media only screen and (max-width : 320px) {
  .footer .footer-content{
    text-align: center;
  }
}
