.BantuanWrapper{
  position: relative;
  min-width: 100%;
  margin: 0 auto;
  padding-top: 9em;
  padding-bottom: 25em;

}

 .BantuanContent{
      position: relative;
      width: 100%;
        .Bantuan{padding-left: 0;}
        .Bantuan-wrap{
          background-color: #fff;
          position: relative;
          width: 100%;
            .tittle-box{
              position: relative;
              width: 100%;
              padding:8px 1em;
                h3{
                  margin-top: 5px;
                  font-size: 24px;
                  font-weight: 600;
                  line-height: 15px;
                }
            }

            .i_box{
              position: relative;
              width: 100%;
              padding-bottom: 2em;
            }
            .tab-pesan-masuk,.tab-pesan-terkirim,.tab-pesan-terkirim{
              position: relative;
              width: 100%;
              margin: 0;
            }
            .box-pesan{position:relative; width:100%; margin:0; padding:1em;}
            .searchInput{
              .inputCari{
                height: auto;
                padding: 5px;
                padding-left: 35px;
                border-radius: 3px;
              }
            }

            .transition,ul.listBantuan li.limenu .submenu {
              transition: all 0.2s ease-in-out;
            }
                .flipIn, h1, ul li {
                animation: flipdown 0.5s ease both;
                }
                .no-select, a {
                -webkit-tap-highlight-color: transparent;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                }
                  ul.listBantuan {
                    position: relative;
                    width: 100%;
                    li.limenu {
                      position: relative;
                      width: 100%;
                      padding: 1em 0 0 2.5em;
                      margin: 1em 0;
                      border-top: 1px solid #eee;
                      a.btnmenu {
                        color: $coloridentitas1;
                        text-transform: capitalize;
                        font-size: 12px;
                        font-weight: bold;
                        letter-spacing: 1px;
                        display: block;
                        background-color: #fff;
                        margin: 0;
                        cursor: pointer;
                      }
                      a.btnmenu:hover{
                        opacity: 1;
                      }

                      .submenu{
                        position: relative;
                        overflow: hidden;
                        opacity: 1;
                        margin-top: 1em;
                        margin-left: 1em;
                        transform: translate(0, 0);
                        z-index: 2;
                        li,.listbantuan{
                          a.linkMenu{
                            text-transform: capitalize;
                            display: block;
                            width: 100%;
                            height: 100%;
                            margin: 0;
                            font-weight: normal;

                          }
                        }
                      }
                      .submenu.vidbantuanmenu{
                        margin-top: 0 !important;
                        margin-left: 0 !important;
                        .innerbantuan{
                          position:relative;
                          width:100%;
                          padding:1em;
                          padding-left: 0;

                            .item:nth-of-type(even){
                              padding-left: 0.5em;
                              padding-right: 0.5em;
                            }
                            .item:nth-of-type(odd){
                              padding-right: 0.5em;
                              padding-left: 0.5em;
                            }
                            .item:last-of-type{
                              padding-right: 1em;
                            }

                        }
                      }
                    }
                    li.limenu:nth-of-type(1) {
                      border-top: none;
                      animation-delay: 0.2s;
                    }
                    li.limenu:nth-of-type(2) {
                      animation-delay: 0.3s;
                    }
                    li.limenu:nth-of-type(3) {
                      animation-delay: 0.5s;
                    }
                    li.limenu:last-of-type {
                      border-bottom: 1px solid #eee;
                      padding-bottom: 1em;
                    }
                  }
                  ul li.limenu i {
                    position: absolute;
                    margin-top: 2px;
                    left: 10px;
                    color: $coloridentitas2;
                  }
                  ul li.limenu i::before {
                    font-family: FontAwesome;
                    content: "\f146";
                  }
                  ul li.limenu label.trigger{
                    cursor: pointer;
                    position: absolute;
                    left:10px;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    z-index: 2;
                  }
                  ul li.limenu input[type=checkbox] {
                    position: absolute;
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    display: none;
                    //opacity: 0;
                  }
                  ul li.limenu input[type=checkbox]:checked ~ .submenu {
                    margin-top: 0;
                    max-height: 0;
                    opacity: 0;
                    transform: translate(0, 50%);
                  }
                  ul li.limenu input[type=checkbox]:checked ~ i::before {
                    content: "\f0fe";
                  }



        }
    }
