.homeWrapper{
  position: relative;
  min-width: 100%;
  margin: 0 auto;
  padding-top: 9em;
  padding-bottom: 25em;

  min-height: 100%;
    .konten{
      position: relative;
      width: 100%;
      height: auto;


      .hk{
        padding-left: 0;
      }

      /*tab menu section*/
          div.tabs{

            margin: 0 auto;
            padding: 0px;
            width: 100%;

            .row{
              margin: 0 ;

               div.tab-link{
                 padding: 0;
                  text-align: center;
                  cursor: pointer;
                  vertical-align: middle;
                  .tabTittle{
                    padding: 3px;
                    background-color: #fff;
                    p{
                      font-size: 12px;
                      font-weight: bold;
                      cursor: pointer;
                      color: #bbb;
                      display: block;
                      margin-top: 9px;
                      text-transform: uppercase;
                    }
                    -webkit-transition: all 0.4s ease-in;
                    -moz-transition: all 0.4s ease-in;
                    -ms-transition: all 0.4s ease-in;
                    -o-transition: all 0.4s ease-in;
                    transition: all 0.4s ease-in;
                  }


                }
                div.tab-link:last-child{
                  padding-left: 1em;
                }

               div.tab-link.current{

                 .tabTittle{
                    background-color: $coloridentitas2;
                    -webkit-transition: all 0.4s ease-in;
                    -moz-transition: all 0.4s ease-in;
                    -ms-transition: all 0.4s ease-in;
                    -o-transition: all 0.4s ease-in;
                    transition: all 0.4s ease-in;
                 }
                 p{
                   font-size: 12px;
                   cursor: pointer;
                   color: #111;
                   display: block;
                 }


              }

            }
          }

          div.tab-content{
            height: 0;
            overflow: hidden;
            position: relative;
            width: 100%;
            background: none;
            margin: 0;

            border: 1px solid transparant;


          }

          div.tab-content.current{
          height: auto;

          }
          /*tab menu section end*/

          .productCarousel {
              width: 95%;
              margin: 0.5em auto;
              margin-bottom: 0;
              .slick-list{
                //min-height: 230px;

              }



              .slick-slide {
                margin: 0px 5px;
              }

              .slick-slide img {
              //  min-width: 155px;
              //  max-width: 155px;
              //  min-height:120px;
              //  max-height: 120px;
              }

              .slick-prev,.slick-next{
                display: block;
                height: 100%;
                top:35%;
              }

              .slick-prev:before,
              .slick-next:before {
                  color: black;
              }

              /*pakai font awesome */
              .slick-prev:before{
                font-family: FontAwesome;
                content:"\f104";
                font-size: 40px;
              }
              .slick-next:before{
                font-family: FontAwesome;
                content:"\f105";
                font-size: 40px;
              }

          }
          .productImg{
            margin: 0 auto;
            margin-right: 10px;
            margin-left: 10px;
            //width: 170px;
            //height: 170px;

            overflow: hidden;
              img{width: 100%;height: 100%;}
              .tittle-Product{
                margin: 0.5em 0;
                position: absolute;
                a,span{
                  font-size: 14px;
                  font-weight: 500;
                  text-transform: capitalize;
                }
              }
            }

          div.tab-penawaran{
            .ProductSlide-penawaran{
              position: relative;
              margin: 1.5em auto;
              padding: 0.5em 1em;
              background-color: #fff;
              h4.tittle{
                font-size: 14px;
                font-weight: bold;
                color: $coloridentitas1;
              }
            }
			.ProductSlide-penawaran.tptab{
				margin: 0 auto 1.5em;
			}

          }


          div.tab-permintaan{
            div.ProductSlide-permintaan{
              position: relative;
              margin: 1.5em auto;
              padding: 0.5em 1em;
              background-color: #fff;

              h4.tittle{
                font-size: 14px;
                font-weight: bold;
                color: $coloridentitas1;
              }


            }
            div.ads{
              position: relative;
              width: 85%;
              height: 90px;
              margin: 2em auto;
              padding: auto;
              background-color: #eee;
              cursor: pointer;
              display: block;
              p.adsText{
                text-align: center;
                padding: 2em;
                font-size: 1.2em;
                color:#aaa;
              }
            }
            div.ads:hover{
              p{
                opacity: 0.8;
              }
            }
          }


    }
}
