.InboxWrapper{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 24em;


}
.InboxContent{
  position: relative;
  width: 100%;
    .inbox{padding-left: 0;}
    .inbox-wrap{
      background-color: #fff;
      position: relative;
      width: 100%;
        .tittle-box{
          position: relative;
          width: 100%;
          padding:10px 1em;
          border-bottom: 1px solid #eee;
            h3{
              font-size: 24px;
              font-weight: 600;
              margin-bottom: 0;
            }
        }
        .i_box{
          position: relative;
          width: 100%;
          div.tabs1{
            div.tab-link1{
              border-bottom: 1px solid #eee;
              .tes{
                padding: 3px;
                background-color: #fff;
              }
            }
            div.tab-link1.current1 .tes{
              border-bottom: 4px solid $coloridentitas1;
              padding-bottom: 0.1px;
            }
          }
        }
        .tab-pesan-masuk,.tab-pesan-terkirim,.tab-pesan-terkirim{
          position: relative;
          width: 100%;
          margin: 0;
        }
        .box-pesan{position:relative; width:100%; margin:0; padding:1em;}
        .searchInput{
          .inputCari{
            height: auto;
            padding: 5px;
            padding-left: 35px;
            border-radius: 3px;
          }
        }
        table.table-review{

          width: 100%;
            thead{
              border-bottom: 1px solid #eee;
              th.checkall{width: 2%;}
              th.centang{width: 10%;padding-left: 5px;}
              th.dibaca{width: 13%;}
              th.hapus{width: 5%;}
              th.selectPesan{width: 25%; padding: auto 1em; padding-top: 1em;}
              th.cari{width: 35%; padding: 0 1em; padding-top: 1em;}
              th,a,.selectBoxDefault select option,.searchInput{
                font-size: 11px;
              }
              th{
                a.btn-table{
                  color: $coloridentitas2;
                }
              }
            }
            tbody{
              tr{border-bottom: 1px solid #eee;
                td.pic,td.info,td.pesann{padding-left: 1em;}
                td{
                  font-size: 12px;
                  margin: 1em auto;
                  padding: 1em 0;
                  a.imgPesan{display: block; width: 80px; height: 80px; img{width: 100%;height: 100%;}}
                  p,a{font-size: 12px}
                  p{line-height: 15px;}
                  p.nama-pengirim,p.subjek{font-weight: bold;color: $coloridentitas1;}
                  p.tipe-user{color: #bdbdbd; margin-top: 0; line-height: 14px;}
                  
                  p.tgl{color: #000;}

                }
              }
              tr:last-child{
                border:0;
              }
            }

        }

    }

    .inbox-detail{padding-left: 0;}
    .inbox-detail-wrap{
      background-color: #fff;
      position: relative;
      width: 100%;
        .tittle-box{
          position: relative;
          width: 100%;
          padding:3px 1em;
          border-bottom: 1px solid #eee;
            h3{
              font-size: 24px;
              font-weight: 600;
              line-height: 10px;
            }
        }
        .i_box{
          position: relative;
          width: 100%;
        }
        .tab-pesan-masuk,.tab-pesan-terkirim,.tab-pesan-terkirim{
          position: relative;
          width: 100%;
          margin: 0;
        }
        .box-pesan{position:relative; width:100%; margin:0; padding:1em;}
        .searchInput{
          .inputCari{
            height: auto;
            padding: 5px;
            padding-left: 35px;
            border-radius: 3px;
          }
        }
        .btn-action{
          position: relative;
          width: 100%;
          padding: 1em 0;
          border-bottom: 1px solid #eee;
            ul{
              position: relative;
              width: 100%;
                li{
                  display: inline;
                  margin-right: 3em;
                    a{
                      font-size: 12px;
                      font-weight:600;
                      color: $coloridentitas2;
                    }
                    a.kembali::before{
                      font-family: 'FontAwesome';
                      content: '\f137';
                      margin-right: 5px;
                    }
                }
            }
        }
        .konten-pesan{
          position: relative;
          width: 100%;
          margin: 1em 0;
          border-bottom: 1px solid #eee;

            .info-col{padding-left: 2em;}
            .h-pesan{
              position: relative;
              width: 100%;
              margin: 1em 0;
                .pic-pesan{
                  text-align: center;
                  img{

                    max-width: 70px;
                    max-height: 70px;
                  }
                }
                .info-pesan{
                  position: relative;
                  width: 100%;
                    p{font-size: 12px; line-height: 10px;}
                    p.instansi{
                      color: $coloridentitas1;
                      font-weight: 600;
                    }
                    p.j-instansi{
                      color: #bdbdbd;
                      font-weight: 600;
                      margin-bottom: 2em;
                    }
                }
            }

        }
        .balas{

          position: relative;
          margin: 0;
          width: 100%;
          background-color: #edf0d0;
          padding: 1em 1em 0 1em;
            textarea{
              resize: none;
            }
            label{color: $coloridentitas1;}
            a.seller{
              float: right;
              text-transform: capitalize;
            }
            button.btn-cool{
              width: 100%;
              margin: 1em 0;
              padding: 1em 0;
              margin-right: 0;
              text-transform: uppercase;
              font-size: 12px;
              font-weight: bold;
            }
        }
        table.table-review{

          width: 100%;
            thead{
              border-bottom: 1px solid #eee;
              th.checkall{width: 2%;}
              th.centang{width: 10%;padding-left: 5px;}
              th.dibaca{width: 13%;}
              th.hapus{width: 5%;}
              th.selectPesan{width: 25%; padding: auto 1em; padding-top: 1em;}
              th.cari{width: 35%; padding: 0 1em; padding-top: 1em;}
              th,a,.selectBoxDefault select option,.searchInput{
                font-size: 11px;
              }
              th{
                a.btn-table{
                  color: $coloridentitas2;
                }
              }
            }
            tbody{
              tr{border-bottom: 1px solid #eee;
                td.pic,td.info,td.pesann{padding-left: 1em;}
                td{
                  font-size: 12px;
                  margin: 1em auto;
                  padding: 1em 0;
                  a.imgPesan{display: block; width: 80px; height: 80px; img{width: 100%;height: 100%;}}
                  p,a{font-size: 12px}
                  p{line-height: 15px;}
                  p.nama-pengirim,p.subjek{font-weight: bold;color: $coloridentitas1;}
                  p.tipe-user{color: #bdbdbd; margin-top: 0; line-height: 5px;}
                  p.tgl{color: #000;}

                }
              }
              tr:last-child{
                border:0;
              }
            }

        }

    }
}


.InboxdeatailWrapper{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 24em;



}
