.list-product-content{

  position: relative;
  margin: 0 auto;
  padding: 1em 0;
  padding-bottom: 24em;


  .prodC{
    position: relative;
    margin: 0 auto;



    .vbanner{
      float: right;
      position: absolute;
      background-color: #eee;

      margin: 0 auto;
      right: 0;

      top: 110px;
      height: 600px;
      width: 150px;
      padding: auto;
      p{margin:300px auto; text-align: center; font-size: 20px; color: $coloridentitas1;}
    }
    /*tab menu section*/
        div.tabs{

          margin: 0 auto;
          padding: 0px;
          width: 100%;

          .row{
            margin: 0 ;

             div.tab-link{
               padding: 0;
                text-align: center;
                cursor: pointer;
                vertical-align: middle;
                .tes{
                  padding: 3px;
                  background-color: #fff;
                  p{
                    font-weight: bold;
                    cursor: pointer;
                    color: #bbb;
                    display: block;
                    margin-top: 9px;
                    text-transform: uppercase;
                  }
                  -webkit-transition: all 0.4s ease-in;
                  -moz-transition: all 0.4s ease-in;
                  -ms-transition: all 0.4s ease-in;
                  -o-transition: all 0.4s ease-in;
                  transition: all 0.4s ease-in;
                }


              }
              div.tab-link:last-child{
                padding-left: 1em;
              }

             div.tab-link.current{

               .tes{
                  background-color: $coloridentitas2;
                  -webkit-transition: all 0.4s ease-in;
                  -moz-transition: all 0.4s ease-in;
                  -ms-transition: all 0.4s ease-in;
                  -o-transition: all 0.4s ease-in;
                  transition: all 0.4s ease-in;
               }
               p{
                 cursor: pointer;
                 color: #111;
                 display: block;
               }


            }

          }
        }

        div.tab-content{
          height: 0;
          overflow: hidden;
          position: relative;
          width: 100%;
          background: none;
          margin: 1em 0;

          border: 1px solid transparant;


        }

        div.tab-content.current{
          height: auto;

        }
        /*tab menu section end*/


  }
}
.adsR{padding-left: 0;}
a.ads{
  width: 100%;
  min-width: 160px;
  height: 600px;
  background-color: #eee;

   display: block;
   p{
     text-align: center; font-size: 20px; color: $coloridentitas1;
     padding: 280px 0;
   }
}
div.tab-product-penawaran{
  .ads-tab-penawaran{
    width: 85%;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 1em;
    background-color: #eee;
    a.adsT{
      display: block;
      font-size: 24px;
      text-align: center;
      padding-top: 1em;
    }
  }

.item .thumbnail .qty{color: #fff;}





}
div.tab-product-permintaan{

  .ads-tab-permintaan{
    width: 85%;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 1em;
    background-color: #eee;
    p.adsT{
      font-size: 24px;
      text-align: center;
      padding-top: 1em;
    }
  }

.item .thumbnail .qty{color: #fff;}


}

div.product-wrap{
  div.productGaleri{

  }
}
