.login-section{
  position: relative;
  min-width: 100%;
  padding-top: 1em;
  padding-bottom: 14em;

}

.login-wrap{

    h1,p{text-align: center;}
    h1.Tittle{
      font-size: 30px;
      font-weight: bold;
    }
    .social-login{
      position: relative;
      width: 100%;
      padding: 1em 0;
      margin-bottom: 1em;
      border-bottom: 1px solid #eee;
        .fb-col{padding-right: 0.5em}
        .google-col{padding-left: 0.5em}
        a{text-align:center; display: block; padding: 6px 15px; font-size: 14px; font-weight: bold; border-radius: 4px; span{position: relative; margin-right: 0.8em; vertical-align: text-top;}}
        .btn-fb{background-color: #3b5998; color: #fff; padding: 8px 15px; span{vertical-align:middle;}}
        .btn-google{background-color: #fff; color: #000;border: 1px solid #bdbdbd; }
        .btn-fb span::before {
          font-family: 'FontAwesome';
          content: '\F09A';
          font-size: 16px;
          color: #fff;
        }
        .btn-google span::before{
          content: url('../img/google.png');
          position: relative;
          top:2px;
          right: 3px;
        }
    }
    .rnf-col{
      position: relative;
        .remember-me{
          position: relative;
          text-align: left;
        }
        .forgot-pass{
          position: relative;
          text-align: right;
            a{text-decoration: underline;}
        }
    }
    .btn-wrap23{
      position: relative;
      margin: 1em 0;
      text-align: center;
        .btn{
          width: 40%;
          padding        : 5px 30px;
        }
    }
    .sign-up{
      font-size: 14px;
      text-align: center;
        a{text-decoration: underline;}
    }

}

.loginWrapper{
  position: relative;
  width: 100%;
  margin: 1em auto;
  margin-top: 1em;
  margin-bottom: 4em;
  min-height: 600px;


  .loginContent{
    position: relative;
    margin: 0 auto;
    margin-top: 2.5em;
    padding: 1em;
    width: 80%;
    height: auto;
    background-color: #fff;
    .centerIt{
      margin: 1em auto;
      min-width: 300px;
      width: 50%;
      height: auto;
      text-align: center;
      h3{
        font-weight: bold;
        color: $coloridentitas1;
        text-transform: capitalize;
      }
      h4{color: $coloridentitas1;font-weight: bold;}
      form{
        text-align: left;
        margin: 1.5em auto;
        font-size: 12px;
        .form-group{
          label{
            color: $coloridentitas1;
          }
		  .form-control-feedback{
			top:1.8em;
		  }
        }
        button.btn-cool{
          width: 100%;
          margin: 1em 0;
          margin-top: 2em;
          padding: 1em 0;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: bold;
        }
        .opsiAkun{
          a{
            color: $coloridentitas3;
            font-weight: bold;
            text-transform: capitalize;
          }
        }
        .socialLogin{
          text-align: center;
          .socialBtn{
            padding: 0;
            .fb{
              padding-right: 5px;
            }
            .google{
              padding-left: 5px;
            }
          }

          a.btn-fb{
            border: none;
        		box-shadow: none;
            display: block;
        		width: 100%;
            padding: 1em 0;
        		background-color: #3a559f;
        		color: #fff;
            text-transform: uppercase;
            i{
              font-size: 18px;
              float: left;
              margin-left: 1em;
            }
        		webkit-transition: all 0.3s ease-in;

        		-moz-transition: all 0.3s ease-in;

        		-ms-transition: all 0.3s ease-in;

        		-o-transition: all 0.3s ease-in;

        		transition: all 0.3s ease-in;
          }

        	a.btn-fb:hover{
        		opacity: 0.6;
        		-webkit-transition: opacity 0.3s ease-in;

        		-moz-transition: opacity 0.3s ease-in;

        		-ms-transition: opacity 0.3s ease-in;

        		-o-transition: opacity 0.3s ease-in;

        		transition: opacity 0.3s ease-in;

        	}
        	a.btn-fb:active{
        		outline: none;
        	}

          a.btn-google{
            border: none;
        		box-shadow: none;
        		width: 100%;
            display: block;
            padding: 1em 0;
        		background-color: #e04a32;
        		color: #fff;
            text-transform: uppercase;
            i{
              font-size: 18px;
              float: left;
              margin-left: 1em;
            }
        		webkit-transition: all 0.3s ease-in;

        		-moz-transition: all 0.3s ease-in;

        		-ms-transition: all 0.3s ease-in;

        		-o-transition: all 0.3s ease-in;

        		transition: all 0.3s ease-in;
          }

        	a.btn-google:hover{
        		opacity: 0.6;
        		-webkit-transition: opacity 0.3s ease-in;

        		-moz-transition: opacity 0.3s ease-in;

        		-ms-transition: opacity 0.3s ease-in;

        		-o-transition: opacity 0.3s ease-in;

        		transition: opacity 0.3s ease-in;

        	}
        	a.btn-google:active{
        		outline: none;
        	}
        }
        .ac-custom {
        	padding: 0;
          width: 100%;
        	margin: 0;
          label {
          	display: inline-block;
          	position: relative;

          	font-size: 10.5px;
          	padding: 0 0 0 20px;
          	vertical-align: middle;
            color: rgba(0,0,0,0.2);
          	cursor: pointer;
          	-webkit-transition: color 0.3s;
          	transition: color 0.3s;
          }


          input[type="checkbox"],

          label::before {
          	width: 15px;
          	height: 15px;
          	top: 0;
          	left: 0;
            border-radius: 2px;
          	position: absolute;
          	cursor: pointer;
          }

          input[type="checkbox"] {
          	opacity: 0;
          	-webkit-appearance: none;
          	display: inline-block;
          	vertical-align: top;
          	z-index: 100;
          }

          label::before {
          	content: '';
          	border: 1px solid #111;
          	-webkit-transition: opacity 0.3s;
          	transition: opacity 0.3s;
          }


          input[type="checkbox"]:checked + label{
          	color: #111;
          }

          input[type="checkbox"]:checked + label::before{
          	opacity: 0.8;
          }


          svg {
          	position: absolute;
          	width: 15px;
          	height: 15px;
          	top: 0;

          	left: 15px;
          	pointer-events: none;
          }

          svg path {
          	stroke: #111;
          	stroke-width: 10px;
          	stroke-linecap: round;
          	stroke-linejoin: round;
          	fill: none;
          }


          div.lastChild{
            text-align: right;

             svg {
            	position: absolute;
            	width: 15px;
            	height: 15px;
            	top: 0;

            	left: 118px;
            	pointer-events: none;
            }
          }
        }

      }
    }
  }
}

.ingat-sya{
  label{float: right;}
}
