
.profileWrapper{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 25em;
  height: auto;


}
.profileContent{
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1em 0;
  height: auto;


  .sidebar{
    padding-right: 0;
    .sidebarMenu{
      position: relative;
      margin: 0;
      padding: 0;
      padding-bottom: 1em;
      width: 100%;
      background-color: #fff;
      .transition,ul.listMenu li.limenu ul.submenu {
        transition: all 0.2s ease-in-out;
      }
          .flipIn, h1, ul li {
          animation: flipdown 0.5s ease both;
          }
          .no-select, a {
          -webkit-tap-highlight-color: transparent;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          }
            ul.listMenu {

              li.limenu {
                position: relative;
                padding: 10px 1em;
                margin: 0;
                border-top: 1px solid #eee;
                a.btnmenu {
                  color: $coloridentitas1;
                  text-transform: capitalize;
                  font-size: 12px;
                  line-height: 20px;
                  font-weight: bold;
                  letter-spacing: 1px;
                  display: block;
                  background-color: #fff;
                  margin: 0;
                  cursor: pointer;
                }
                a.btnmenu:hover{
                  opacity: 1;
                }
                table.profile{
                  width: 100%;
                  td.pLeft{
                    width: 25%;
                  }
                  td.pRight{
                    width: 85%;
                  }
                  td.profile-picture{
                    a.picture{
                      img{
                        max-height: 40px;
                        max-width: 40px;
                        border-radius: 50%;
                      }
                    }
                  }
                  td.name{
                    padding-top: 15px;
                    a{
                      font-weight: bold;
                      color: $coloridentitas1;
                    }
                  }
                  td.memberSince{
                    p{
                      font-size: 12px;
                      opacity: 0.6;
                    }
                  }
                }
                ul.submenu{
                  position: relative;
                  overflow: hidden;
                  opacity: 1;
                  margin-top: 1em;
                  margin-left: 1em;
                  transform: translate(0, 0);
                  z-index: 2;
                  li{
                    a.linkMenu{
                      text-transform: capitalize;
                      display: block;
                      width: 100%;
                      height: 100%;
                      margin: 0;
                      font-weight: normal;

                    }
                  }
                }
              }
              li.limenu:nth-of-type(1) {
                border-top: none;
                animation-delay: 0.2s;
              }
              li.limenu:nth-of-type(2) {
                animation-delay: 0.3s;
              }
              li.limenu:nth-of-type(3) {
                animation-delay: 0.5s;
              }
              li.limenu:last-of-type {
                padding-bottom: 0;
              }
            }
            ul li.limenu i {
              position: absolute;
              margin-top: 5px;
              right: 10px;
              color: $coloridentitas1;
            }
            ul li.limenu i::after {
              font-family: FontAwesome;
              content: "\f056";
            }
            ul li.limenu input[type=checkbox] {
              position: absolute;
              cursor: pointer;
              width: 100%;
              height: 100%;
              z-index: 1;
              opacity: 0;
            }
            ul li.limenu input[type=checkbox]:checked ~ ul.submenu {
              margin-top: 0;
              max-height: 0;
              opacity: 0;
              transform: translate(0, 50%);
            }
            ul li.limenu input[type=checkbox]:checked ~ i::after {
              content: "\f055";
            }

    }
  }

    .profile{

      .profile-wrap{
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        .profileDeatil{
          position: relative;
          width: 100%;
          margin: 0;
          padding: .5em;
          background-color: #fff;
              .picProfile{
                padding: 1em;
                padding-left: 2em;
                padding-right: 0;
                div.imgP1{

                  max-height: 250px;
                  width: 100%;

                  position: relative;
                  margin: 0;
                  padding: 0;
                  .flexslider .slides img {
                    min-height: 250px;
                    height: auto;
                    width: 100%;
                    -moz-user-select: none;
                  }

                  .flex-control-thumbs {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    position: static;
                    overflow: hidden;
                    margin-top: -5px;
                    margin-left: -5px;
                  }
                  .flex-control-thumbs img{
                    max-height: 100%;
                    min-height: 68px;
                    min-width: 68px;
                    max-width: 68px;
                    padding:0;
                    margin-left: 0;
                    margin-top: 3px;

                  }
                  .DatenView{
                    width: 100%;
                    background-color: #fff;
                    vertical-align: bottom;
                    padding: 0 1em;
                    span{

                      color: #111;
                      font-size: 12px;
                      i{color: $coloridentitas2;}
                    }
                    div.date{

                      text-align: left;

                    }
                    div.view{

                      text-align: right;

                    }
                  }
                }




              }
              .dscprofile{
                    padding-left: 0;
                    padding-top: 0;
                  .profileDesc{
                    margin: 0;
                    background-color: #fff;
                    width: 100%;
                    position: relative;
                    padding: 0 1em;

                      .TittleText{
                        margin-top: -8px;
                        position: relative;
                        width: 100%;
                        h2{
                          font-size: 18px;
                          font-weight:bold;
                          color: $coloridentitas1;
                          text-transform: capitalize;
                        }
                      }
                      .detailInfo{
                        position: relative;
                        width: 100%;
                        height: auto;
                        margin: 1em 0 0 0;

                          p.qProfile{
                            font-size: 12px;
                            font-weight: bold;
                            color: $coloridentitas1;
                            margin-bottom: 0;
                            margin-top: 1em;
                          }
                          p.aProfile{
                            font-size: 11px;

                          }
                          div.deskripsiText{

                            input.read-more-state {
                              display: none;
                            }
                            span.read-more-target {
                              opacity: 0;
                              max-height: 0;
                              font-size: 0;
                              transition: .25s ease;

                            }


                            input.read-more-state:checked ~ p.read-more-wrap span.read-more-target {
                              opacity: 1;
                              font-size: inherit;
                              max-height: 999em;
                            }
                            a.dscKontrol:before{
                              color: $coloridentitas2;
                            }
                            input.read-more-state ~ p.read-more-wrap a.dscKontrol:before {
                              content: ' Lihat lebih';
                              margin-left: 2px;

                            }

                            input.read-more-state:checked ~ p.read-more-wrap a.dscKontrol:before {
                              content: ' Tutup';
                              margin-left: 2px;
                            }



                            label.read-more-trigger {
                              cursor: pointer;
                              display: inline-block;
                              float: left;
                              font-weight: normal;
                              color: $coloridentitas2;
                              font-size: 11px;
                              text-align: left;
                              clear: both;

                            }
                          }
                          div.deskripsiText > p, div.deskripsiText > label{
                            float: left;
                            display: inline;
                          }


                      }

                      div.ShareNFavorit{

                        display: inline;
                        position: relative;
                        a{
                          color: $coloridentitas1;
                          font-size: 12px;
                        }
                          div.favorit{
                            text-align: left;
                          }
                          div.share{
                            text-align: right;
                          }
                      }

                  }
                  div.ShareNFavoritprofile{
                    width: 100%;
                    margin: 0 1em;
                    display: inline;
                    position: relative;
                    background-color: #f00;
                    a{
                      color: $coloridentitas1;
                      font-size: 12px;
                    }
                      div.favorit{
                        padding-left: 2em;
                        text-align: left;
                      }
                      div.share{
                        padding-right: 2em;
                        text-align: right;
                      }
                      .sharepop{
                        float: right;
                        right: 1em;
                        position: relative;
                        height: 0;
                        opacity: 0;
                        width: auto;
                        padding: 10px 15px;


                        .socialList{

                          position: relative;
                          li{
                            display: inline; margin-left: 5px; float: left;

                          }
                        }
                        .btnShare{
                          display: inline-block;
                          padding: 8px 10px;

                          width: auto;
                          color: #fff;
                        }
                        .fb{background-color: #3b5999;}
                        .tw{background-color: #55acee;}
                        .gplus{background-color: #dd4b39;}
                          .fb:hover::after{
                            content: "Facebook";
                            margin-left: 5px;

                          }
                          .tw:hover::after{
                            content: "Twitter";
                            margin-left: 5px;
                            -webkit-transition: all 0.3s ease-in;
                          -moz-transition: all 0.3s ease-in;
                          -ms-transition: all 0.3s ease-in;
                          -o-transition: all 0.3s ease-in;
                          transition: all 0.3s ease-in;

                          }
                          .gplus:hover::after{
                            content: "Google+";
                            margin-left: 5px;
                            -webkit-transition: all 0.3s ease-in;
                          -moz-transition: all 0.3s ease-in;
                          -ms-transition: all 0.3s ease-in;
                          -o-transition: all 0.3s ease-in;
                          transition: all 0.3s ease-in;

                          }

                      }
                      .sharepop.showShare {
                          opacity: 1;
                          height: auto;

                      }
                  }

              }




        }

        .hubungiPenjualBox{
          position: relative;
          width: 100%;
          margin-top: 1em;

          background-color: #edf0d0;
            .Tittle{
              position: relative;
              width: 100%;
              margin: 0;
              background-color: $coloridentitas2;
              padding-top: 5px;
              padding-bottom: 5px;
                h2{
                  text-align: center;
                  text-transform: uppercase;
                  font-size: 16px;
                  font-weight: 600;
                  color: $coloridentitas1;
                }
            }

            .contentContact{
              position: relative;
              margin: 0;
              padding: 1em;
              width: 100%;
                textarea{
                  resize: none;
                }
                label{color: $coloridentitas1;}
                a.seller{
                  float: right;
                  text-transform: capitalize;
                }
                button.btn-cool{
                  width: 100%;
                  margin: 1em 0;
                  padding: 1em 0;
                  margin-right: 0;
                  text-transform: uppercase;
                  font-size: 12px;
                  font-weight: bold;
                }
            }

            .kontak{
              position: relative;
              margin: 0;
              padding: 1em;
              padding-top: 0;
              width: 100%;
                p.tittlekontak{font-size: 14px;font-weight: bold;color: $coloridentitas1;}
                div.kontakList{margin-bottom: 1em}

                .trigger-show{display: none; width: 0;}
                div.telp{
                  position: relative;
                  div.tlpIcon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 22px;
                    height: 25px;
                    background: url('../img/socialIcon.png') 0 0;

                  }


                }
                div.telp:hover .trigger-show{display: inherit; width: 100%;}

                div.wa{
                  position: relative;
                  div.waIcon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 22px;
                    height: 25px;
                    background: url('../img/socialIcon.png') -23px 0;

                  }




                }
                div.wa:hover .trigger-show{display: inherit; width: 100%;}

                div.gmail{
                  a{font-size: 11px;}
                  position: relative;
                  div.gmailIcon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 28px;
                    height: 28px;
                    background: url('../img/socialIcon.png') -48px 0;

                  }

                }


                div.phone{
                  position: relative;
                  div.phoneIcon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 22px;
                    height: 25px;
                    background: url('../img/socialIcon.png') -75px 0;

                  }


                }
                div.phone:hover .trigger-show{display: inherit; width: 100%;}

                div.fax{
                  position: relative;
                  div.faxIcon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 22px;
                    height: 25px;
                    background: url('../img/socialIcon.png') -98px 0;

                  }

                }
                div.fax:hover .trigger-show{display: inherit; width: 100%;}
                div.web{
                  position: relative;
                  div.webIcon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 25px;
                    height: 25px;
                    background: url('../img/www.png');

                  }

                }
                div.bbm{
                  position: relative;
                  div.bbmIcon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 22px;
                    height: 25px;
                    background: url('../img/socialIcon.png') -122px 0;

                  }

                }
                div.bbm:hover .trigger-show{display: inherit; width: 100%;}

                div.Line{
                  position: relative;
                  div.LineIcon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 23px;
                    height: 25px;
                    background: url('../img/socialIcon.png') -147px 0;

                  }

                }
                div.Line:hover .trigger-show{display: inherit; width: 100%;}
                div.pcawat{
                  position: relative;
                  div.pcawatIcon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 25px;
                    height: 26px;
                    background: url('../img/socialIcon.png') -170px 0;

                  }

                }
                div.pcawat:hover .trigger-show{display: inherit; width: 100%;}
                div.Line2{
                  position: relative;
                  div.Line2Icon{
                    float: left;
                    display:block;
                    margin-top: -3px;

                    margin-right: 5px;
                    width: 24px;
                    height: 25px;
                    background: url('../img/socialIcon.png') -195px 0;

                  }

                }
                div.Line2:hover .trigger-show{display: inherit; width: 100%;}
            }
            .medsos{
              position: relative;
              margin: 0;
              padding: 1em;
              padding-top: 0;
              width: 100%;
                p.tittlekontak{font-size: 14px;font-weight: bold;color: $coloridentitas1;}
                div.kontakList{margin-bottom: 1em}

                .trigger-show{display: none; width: 0;}
                div.facebook{
                  position: relative;
                  div.fbIcon{
                    float: left;
                    display:block;


                    margin-right: 5px;
                    width: 22px;
                    height: 25px;
                    background: url('../img/socmed-sprite.png') 0 0 no-repeat;

                  }


                }

                div.twitter{
                  position: relative;
                  div.twtIcon{
                    float: left;
                    display:block;

                    margin-right: 5px;
                    width: 22px;
                    height: 25px;
                    background: url('../img/socmed-sprite.png') -60px 0 no-repeat;

                  }


                }

                div.googlePlus{
                  position: relative;
                  div.googleIcon{
                    float: left;
                    display:block;

                    margin-right: 5px;
                    width: 22px;
                    height: 25px;
                    background: url('../img/socmed-sprite.png') -125px 0 no-repeat;

                  }

                }

                div.Ig{
                  position: relative;
                  div.IgIcon{
                    float: left;
                    display:block;


                    margin-right: 5px;
                    width: 22px;
                    height: 25px;
                    background: url('../img/socmed-sprite.png') -190px 0 no-repeat;

                  }

                }



            }
        }

        .ads{
          width: 85%;
          height: 90px;
          margin: 1em auto;
          cursor: pointer;
          background-color: #eee;
          a.adsT{
            display: block;
            font-size: 24px;
            text-align: center;
            padding-top: 1em;
          }
        }
        .ads:hover{
          opacity: 0.6;
        }

        .productTerkaitWrap{
          position: relative;
          margin: 1em 0;
          margin-top: 2em;
          width: 100%;
            p.tittle{text-decoration: underline;text-transform: uppercase;font-size: 14px;font-weight: bold;}
            .productTerkait {
                width: 100%;
                margin: 0.5em 0;
                .thumbnail{

                    margin: 0 0.38em;
                    min-height: 365px;
                    max-height: 365px;
                    padding: 0px;
                    border: 0px;
                    min-width:  175px;
                    max-width: 175px;
                     img {
                      margin: 0;
                      min-height: 170px;
                      min-width:  180px;
                      max-width: 100%;
                      max-height: 170px;
                    }
                    p{
                      text-transform: capitalize;
                    }

                    .qty{
                      z-index: 2;
                      position: relative;

                      top: auto;
                      bottom: 0;
                      padding: 1em;
                      height: 40px;
                      visibility: hidden;
                      background-color: rgba(0,0,0,0.8);
                      text-align: center;
                      padding-top: 15px;


                      -webkit-transition: all 0.3s ease-in;
                      -moz-transition: all 0.3s ease-in;
                      -ms-transition: all 0.3s ease-in;
                      -o-transition: all 0.3s ease-in;
                      transition: all 0.3s ease-in;

                      -moz-transform: translate3d(0,0,0);

                      -ms-transform: translate3d(0,0,0);

                      -o-transform: translate3d(0,0,0);

                      -webkit-transform: translate3d(0,0,0);
                      transform: translate3d(0,0,0);
                      p{
                        color: #fff;
                      }
                    }

                    .list-group-image{
                      z-index: 1;
                      min-height: 150px;
                      max-height: 150px;
                      min-width: 100%;
                    }


                    .Product-caption{
                      z-index: 3;
                      position: relative;
                      background-color: #fff;
                      min-height: 100px;
                      max-height: 200px;
                      margin: 0;
                      top: -40px;
                      width: 100%;
                      padding: 1em 0;
                      .product-tittle{
                        padding: 0 1em;
                        a.Ptittle{
                          font-size: 12px;
                          font-weight: bold;
                          text-transform: capitalize;
                          color: #111;
                        }
                      }

                      .product-info{
                        padding: 0 1em;
                        margin-top: 1.2em;

                        table{
                          width: 100%;
                          td{
                            padding: 0;
                          }
                          p{
                            font-size: 11px;
                            color: #111;
                            text-align: left;
                          }
                          td.qProduct{
                            width: 50%;

                          }
                          td.aProduct{
                            width: 50%;
                            p::before{
                              content: " : "
                            }
                          }

                        }
                      }

                      .makeitLeft{

                        text-align: left;
                        padding-left: 1em;
                        width: 60%
                      }
                      .makeitRight{

                        text-align: right;
                        padding-right: 1em;
                        width: 40%;
                      }

                      .Product-Att{

                        position: relative;
                        padding: 0 1em;

                        .product-info2{

                          .dateView{

                            p{


                              font-size: 9px;
                              color: $coloridentitas2;
                            }
                          }

                        }

                        .product-info3{

                          border-top: 1px solid #eee;

                          padding-top:0.8em;
                          .dateView{

                            p{
                              vertical-align: middle;

                              font-size: 9px;
                              color: $coloridentitas2;
                            }
                            p.Seller{
                              font-size: 10px;

                            }
                          }
                        }


                      }


                    }






                }
                .thumbnail:hover .qty{

                  -webkit-transform: translate3d(0,-100%,0);
                   transform: translate3d(0,-100%,0);
                  visibility:visible;
                }
                .productImg{
                margin: 0 auto;
                margin-right: 10px;
                margin-left: 5px;
                  .tittle-Product{
                    margin: 1em 0;
                    a{
                      font-size: 14px;

                      text-transform: capitalize;
                    }
                  }
                }
            }
        }


        .slick-slide {
          margin: 0px 20px;
        }

        .slick-slide img {
          min-height: 170px;
          min-width:  220px;
          max-width: 100%;
          max-height: 170px;
        }

        .slick-prev,.slick-next{
          display: block;
          height: 100%;
          top:25%;
        }

        .slick-prev:before,
        .slick-next:before {
            color: black;
        }

        /*pakai font awesome */
        .slick-prev:before{
          font-family: FontAwesome;
          content:"\f104";
          font-size: 50px;
        }
        .slick-next:before{
          font-family: FontAwesome;
          content:"\f105";
          font-size: 50px;
        }

      }
    }



}
