.registerWrapper{
  position: relative;
  width: 100%;
  padding: 0 auto;
  padding-top: 1em;
  padding-bottom: 25em;
  height: auto;

  .registerContent{
    position: relative;
    margin: 0 auto;
    padding: 1em;
    width: 80%;
    height: auto;
    background-color: #fff;
    .centerIt{
      margin: 1em auto;
      min-width: 300px;
      width: 50%;
      height: auto;
      text-align: center;
      h3{
        font-weight: bold;
        color: $coloridentitas1;
        text-transform: capitalize;
      }
      h4{color: $coloridentitas1;font-weight: bold;}
      form{
        text-align: left;
        margin: 1.5em auto;
        font-size: 12px;
        .form-group{
          label{
            color: $coloridentitas1;
          }
        }
        button.btn-cool{
          width: 100%;
          margin: 1em 0;
          margin-top: 2em;
          padding: 1em 0;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: bold;
        }
        .opsiAkun{
          a{
            color: $coloridentitas3;
            text-transform: capitalize;
          }
        }
        .socialregister{
          margin-top: 2em;
          text-align: center;
          .socialBtn{
            padding: 0;
            .fb{
              padding-right: 5px;
            }
            .google{
              padding-left: 5px;
            }
          }

          a.btn-fb{
            border: none;
        		box-shadow: none;
            display: block;
        		width: 100%;
            padding: 1em 0;
        		background-color: #3a559f;
        		color: #fff;
            text-transform: uppercase;
            i{
              font-size: 18px;
              float: left;
              margin-left: 1em;
            }
        		webkit-transition: opacity 0.3s ease-in;

        		-moz-transition: opacity 0.3s ease-in;

        		-ms-transition: opacity 0.3s ease-in;

        		-o-transition: opacity 0.3s ease-in;

        		transition: opacity 0.3s ease-in;
          }

        	a.btn-fb:hover{
        		opacity: 0.6;
        		-webkit-transition: opacity 0.3s ease-in;

        		-moz-transition: opacity 0.3s ease-in;

        		-ms-transition: opacity 0.3s ease-in;

        		-o-transition: opacity 0.3s ease-in;

        		transition: opacity 0.3s ease-in;

        	}
        	a.btn-fb:active{
        		outline: none;
        	}

          a.btn-google{
            border: none;
        		box-shadow: none;
        		width: 100%;
            display: block;
            padding: 1em 0;
        		background-color: #e04a32;
        		color: #fff;
            text-transform: uppercase;
            i{
              font-size: 18px;
              float: left;
              margin-left: 1em;
            }
        		webkit-transition: opacity 0.3s ease-in;

        		-moz-transition: opacity 0.3s ease-in;

        		-ms-transition: opacity 0.3s ease-in;

        		-o-transition: opacity 0.3s ease-in;

        		transition: opacity 0.3s ease-in;
          }

        	a.btn-google:hover{
        		opacity: 0.6;
        		-webkit-transition: opacity 0.3s ease-in;

        		-moz-transition: opacity 0.3s ease-in;

        		-ms-transition: opacity 0.3s ease-in;

        		-o-transition: opacity 0.3s ease-in;

        		transition: opacity 0.3s ease-in;

        	}
        	a.btn-google:active{
        		outline: none;
        	}
        }
        .ac-custom {
        	padding: 0;
          width: 100%;
        	margin: 0;
          label {
          	display: inline-block;
          	position: relative;

          	font-size: 10.5px;
          	padding: 0 0 0 20px;
          	vertical-align: middle;
            color: rgba(0,0,0,0.2);
          	cursor: pointer;
          	-webkit-transition: color 0.3s;
          	transition: color 0.3s;
          }


          input[type="checkbox"],

          label::before {
          	width: 15px;
          	height: 15px;
          	top: 0;
          	left: 0;
            border-radius: 2px;
          	position: absolute;
          	cursor: pointer;
          }

          input[type="checkbox"] {
          	opacity: 0;
          	-webkit-appearance: none;
          	display: inline-block;
          	vertical-align: top;
          	z-index: 100;
          }

          label::before {
          	content: '';
          	border: 1px solid #111;
          	-webkit-transition: opacity 0.3s;
          	transition: opacity 0.3s;
          }


          input[type="checkbox"]:checked + label{
          	color: #111;
          }

          input[type="checkbox"]:checked + label::before{
          	opacity: 0.8;
          }


          svg {
          	position: absolute;
          	width: 15px;
          	height: 15px;
          	top: 0;

          	left: 15px;
          	pointer-events: none;
          }

          svg path {
          	stroke: #111;
          	stroke-width: 10px;
          	stroke-linecap: round;
          	stroke-linejoin: round;
          	fill: none;
          }


          div.lastChild{
            text-align: right;

             svg {
            	position: absolute;
            	width: 15px;
            	height: 15px;
            	top: 0;

            	left: 118px;
            	pointer-events: none;
            }
          }
        }

      }
    }
  }
}
