.SettingWrapper{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 24em;
}
.SettingContent{
  position: relative;
  width: 100%;
    .setting{padding-left: 0;}
    .setting-wrap{
      background-color: #fff;
      position: relative;
      width: 100%;
      padding: 0 0 1em;
      div.tabs1{

        margin: 0 auto;
        padding: 0px;
        width: 100%;

        .row{
          margin: 0 ;

           div.tab-link1{
             padding: 0;
              text-align: center;
              cursor: pointer;
              vertical-align: middle;
                border-bottom: 1px solid #eee;
              .tes{
                padding: 3px;
                background-color: #fff;


                p{
                  font-weight: bold;
                  cursor: pointer;
                  color: #bbb;
                  display: block;
                  margin-top: 9px;
                  text-transform: uppercase;
                  font-size: 12px;
                    span.jml{
                      display: inline-block;
                      height: 25px;
                      width: 25px;
                      line-height: 25px;
                      border-radius: 50%;
                      margin-left: 2px;
                      background-color: transparent;
                      color: #fff;
                      padding: 1px;
                    }
                    span.actip{
                      background-color: $coloridentitas1;
                    }
                }

              }


            }



           div.tab-link1.current1{

             .tes{
                border-bottom: 4px solid $coloridentitas1;
                padding-bottom: 0.1px;
             }
             p{
               cursor: pointer;
               color: #111;
               display: block;
             }



          }

        }
      }
      div.tab-content1{
        height: 0;
        overflow: hidden;
        position: relative;
        width: 100%;
        background: none;
        margin: 0;
        border: 1px solid transparant;

      }

      div.tab-content1.current1{
        height: auto;

      }

      /*-----------------------------------------------------------------
        Edit Profle
      -------------------------------------------------------------------*/

      .EditProfileWrap{
          position: relative;
          margin: 0;
          padding: 1em 0;
          padding-bottom: 0;
          width: 100%;
          height: auto;
          background-color: #fff;
          form{
            div.pictureBox{
              position: relative;
              margin:0;
              margin-bottom: 1em;
              padding: 0 1em;
              width: 100%;
                .up_box{position: relative;width: 100%}
                .dropzone .dz-message{
                  display: none;
                }
                  .dragNdrop{
                    position: relative;
                    margin: 0;
                    width: 100%;
                    height: 130px;
                    cursor: pointer;
                    border: 1px solid #eee;
                    border-radius: 3px;
                    background: url("../img/nullimg.jpg") 50% 50%;
                      img.uploudImg{
                        position: relative;
                        width: 100%;
                        max-height:100%;
                        border-radius: 3px;
                      }

                  }
                  div.popUpDelete{
                    z-index: 3;
                    position: relative;
                    top:auto;
                    bottom: 0;
                    height: 30px;
                    text-align: center;
                    padding-top: 5px;
                    opacity: 0;
                    background-color: rgba(0,0,0,0.8);
                    text-align: center;

                    -webkit-transition: all 0.3s ease-in;
                    -moz-transition: all 0.3s ease-in;
                    -ms-transition: all 0.3s ease-in;
                    -o-transition: all 0.3s ease-in;
                    transition: all 0.3s ease-in;

                    -moz-transform: translate3d(0,-10%,0);
                    -ms-transform: translate3d(0,-10%,0);
                    -o-transform: translate3d(0,-10%,0);
                    -webkit-transform: translate3d(0,-10%,0);
                     transform: translate3d(0,-10%,0);

                    a{
                      display: block;
                      color: #fff;
                    }
                  }

                  .adaImg:hover .popUpDelete{
                    -moz-transform: translate3d(0,-100%,0);
                    -ms-transform: translate3d(0,-100%,0);
                    -o-transform: translate3d(0,-100%,0);
                    -webkit-transform: translate3d(0,-100%,0);
                     transform: translate3d(0,-100%,0);

                      opacity: 1;

                  }


            }
            div.dataProfile{
              position: relative;
              width: 100%;
              margin: 1em 0;
              height: auto;

                  .nonaktif{
                    border: none;
                    -webkit-transition: all 0.3s ease-in;
                    -moz-transition: all 0.3s ease-in;
                    -ms-transition: all 0.3s ease-in;
                    -o-transition: all 0.3s ease-in;
                    transition: all 0.3s ease-in;
                    opacity: 0.8;
                  }
                  label{
                    font-size: 12px;
                    margin-left: 5px;
                  }


                  div.KategoriMember{
                    position: relative;
                    margin: 1em 0;
                    padding: 0 1em;
                    width: 100%;
                      div.ptORpersonal{
                        padding: 0 1em;
                        .po{
                          .col-perusahaan,.col-perorangan{

                          }

                          p{
                            font-size: 11px;
                            font-weight: bold;
                            text-align: left;
                          }
                          .ac-radio{
                            svg {
                              position: absolute;
                              width: 12px;
                              height: 12px;
                              top: 2px;

                              left: 17px;
                              pointer-events: none;
                            }
                          }
                        }

                      }
                      div.statusDagang{
                        margin-left: 0;
                        p{
                          font-size: 11px;
                          font-weight: bold;
                          text-align: left;
                        }
                        .line2{
                          margin-top: 1em;
                        }
                        .ac-checkbox{
                          svg {
                            position: absolute;
                            width: 17px;
                            height: 16px;
                            top: -2px;

                            left: 16px;
                            pointer-events: none;
                          }
                          svg path {

                            stroke-width: 13px;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            fill: none;
                          }

                        }
                      }

                      div.pembeliORpenjual{
                        p{
                          font-size: 11px;
                          font-weight: bold;
                          text-align: left;
                        }
                        .ac-checkbox{
                          svg {
                            position: absolute;
                            width: 17px;
                            height: 16px;
                            top: -2px;

                            left: 16px;
                            pointer-events: none;
                          }
                          svg path {

                            stroke-width: 13px;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            fill: none;
                          }

                        }
                      }

                  }
                  .form-def{
                    position: relative;
                    margin: 0;
                    margin-top: 1em;
                    padding: 0 1em;
                    width: 100%;
                  }
                  //div.DescInput{
                    //position: relative;
                    //margin: 0;
                    //padding: 0 1em;
                    //width: 100%;
                  //}
                  div.almtInput{
                    position: relative;
                    margin: 1em 0;
                    margin-bottom: 0;
                    padding: 0 1em;
                    width: 100%;
                    #SelectKota{
                      margin-top: 5px;
                    }
                  }
                  div.SektornCategori{
                    position: relative;
                    margin-bottom: 1em;
                    border-top: 1px solid #eee;

                    padding: 1em;
                    width: 100%;

                        .sektor{
                          width: 100%;
                          margin: 1em 0;
                          .show{  visibility: visible;}
                          .hide2{width: 0;}
                            .ac-checkbox{
                              svg {
                                position: absolute;
                                width: 17px;
                                height: 16px;
                                top: 6px;

                                left: 0;
                                pointer-events: none;
                              }
                              svg path {

                                stroke-width: 13px;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                                fill: none;
                              }

                            }
                            .sektorPertanian{

                              .cekboxTani{

                                position: relative;
                                width: 100%;
                                margin: 0;
                                padding-top: 8px;
                              }

                            }

                            .sektorPerHutanan{
                              .cekboxHutan{
                                position: relative;
                                width: 100%;
                                margin: 0;
                                padding-top: 8px;
                              }

                            }
                            .sektorPerikanan{
                              .cekboxPerikanan{
                                position: relative;
                                width: 100%;
                                margin: 0;
                                padding-top: 8px;
                              }

                            }
                            .sektorLainnya{
                              .cekboxLainnya{
                                position: relative;
                                width: 100%;
                                margin: 0;
                                padding-top: 8px;
                              }

                            }

                        }
                        .produkUtama{
                          .prdLine1{
                            margin-top: 1em;
                          }
                        }
                  }
                  div.KontakUtama{
                    position: relative;
                    margin-bottom: 1em;
                    border-top: 1px solid #eee;

                    padding: 1em;
                    width: 100%;
                        p.tittle{
                          font-weight: bold;
                        }
                        .kontakBox{

                          .ac-checkbox{
                            svg {
                              position: absolute;
                              width: 17px;
                              height: 16px;
                              top: -2px;
                              left:1em;
                              pointer-events: none;
                            }
                            svg path {

                              stroke-width: 13px;
                              stroke-linecap: round;
                              stroke-linejoin: round;
                              fill: none;
                            }

                          }
                          .makeitRight{
                          }
                        }
                  }
                  div.KontakLainnya{
                    position: relative;
                    margin-bottom: 1em;
                    border-top: 1px solid #eee;
                    padding: 1em;
                    width: 100%;
                        p.tittle{
                          font-weight: bold;
                        }
                        .kontakBox{
                          .ac-checkbox{
                            svg {
                              position: absolute;
                              width: 17px;
                              height: 16px;
                              top: -2px;

                              left: 1em;
                              pointer-events: none;
                            }
                            svg path {

                              stroke-width: 13px;
                              stroke-linecap: round;
                              stroke-linejoin: round;
                              fill: none;
                            }

                          }
                          .makeitRight{
                            text-align: right;
                          }
                        }
                  }
                  div.MediaSocial{
                    position: relative;
                    margin-bottom: 1em;
                    border-top: 1px solid #eee;
                    padding: 1em;
                    width: 100%;
                      p.tittle{
                        font-weight: bold;
                      }
                      .kontakBox{
                        .ac-checkbox{
                          svg {
                            position: absolute;
                            width: 17px;
                            height: 16px;
                            top: -2px;

                            left: 1em;
                            pointer-events: none;
                          }
                          svg path {

                            stroke-width: 13px;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            fill: none;
                          }

                        }
                        .makeitRight{
                          text-align: right;
                        }
                      }
                  }
                  div.tombolSave{
                    position: relative;

                    padding: 1em;
                    width: 100%;
                    .btn-cool{
                      display: block;
                      text-align: center;
                      width: 100%;
                      margin: 0;
                      padding: 1em 0;
                      text-transform: uppercase;
                      font-size: 12px;
                      font-weight: bold;
                    }
                  }


            }
          }
        }
      



      /*-----------------------------------------------------------------
      Tab Setting
      -------------------------------------------------------------------*/
      .Tab-Pengaturan,.Tab-Profile-Saya{
        padding: 0 1em;
      }

        .tittle-box{
          position: relative;
          width: 100%;
          padding:3px 0;
          border-bottom: 1px solid #eee;
            h3{
              font-size: 24px;
              font-weight: 600;
              line-height: 10px;
            }
        }
        .i_box{
          position: relative;
          width: 100%;
        }
        form{
          position: relative;
          width: 100%;
          padding: 1em 0;

        }
        label{
          font-size: 14px;
          margin: 0 0 0.5em 0.5em;
        }
        .notifikasi-box{
          position: relative;
          width: 100%;
          margin: 0 0 1em 0;
          p.txtNotif1{
            font-size: 14px;
            font-weight:600;
          }
        }

        .Pengaturan-beranda-box{
          position: relative;
          width: 100%;
          margin: 2em 0 1em 0;

        }
        p.littleText{
          font-size: 12px;
          color: #757575;
        }

        .btnSubmit{
          width: 100%;
          position: relative;
          margin: 1em 0;
          padding: 0;
          .logout-col{padding-right: 5px}
          .save-col{padding-left: 5px}
          button.btn-cool{

            text-align: center;
            width: 100%;
            margin: 0;
            padding: 1em 0;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
          }
          button.btn-logout{
            background-color: transparent;
            border: 1px solid $coloridentitas1;
            padding: 0.9em 0;
          }

        }
        .hapus-akun{
          font-size: 14px;
          color: $coloridentitas1;
          text-decoration: underline;
          margin: 1em 0;
        }




    }
}
