.item{
  .thumbnail{

      position: relative;
      margin-bottom: 0;
      height: auto;
      min-height: 360px;
      width: 100%;
      padding: 0px;
      border: 0px;
      margin-bottom: 1em;

      //position: relative;
      //margin-bottom: 0;
      //min-height: 365px;
      //max-height: 365px;
      //height: 390px;
      //width: 100%;

      //padding: 0px;
      //border: 0px;
      //margin-bottom: 1em;

      p{
        text-transform: capitalize;
      }

      .qty{
        z-index: 2;
        //position: relative;
        position: absolute;
        //top: auto;
        width: 100%;
        top: 150px;
        padding: 1em;
        height: 40px;
        visibility:hidden;
        background-color: rgba(0,0,0,0.8);

        text-align: center;
        padding-top: 0.8em;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;

        -moz-transform: translate3d(0,0,0);

        -ms-transform: translate3d(0,0,0);

        -o-transform: translate3d(0,0,0);

        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        a{
          text-transform: uppercase;
          font-size: 12px;

          font-weight: bold;
          color: #111;
        }
        a::before{
          font-family: FontAwesome;
        //  content:'\f00d';
          margin-right: 0.5em;
        }
      }

      .list-group-image{
        z-index: 1;
        min-height: 150px;
        max-height: 150px;
        min-width: 100%;
      }


      .Product-caption{
        z-index: 3;
        position: relative;
        background-color: #fff;

        //top: -40px;
        width: 100%;
        padding: 1em 0 0;
        .product-tittle{
          padding: 0 0.5em 1.5em;
          .Ptittle{
            font-size: 1.1em;
            font-weight: bold;
            text-transform: capitalize;
            color: #111;
          }
        }

        .product-info{
          padding: 0 0.5em 5px;
          p{text-transform: none;margin-bottom:4px;}
          p.type{color: #c9c9c9;font-weight: bold;font-size: 0.7em;}
          p.dsc{
            width: 100%;
            font-size: 0.9em;
          }
          table{
            width: 100%;
            border-collapse:collapse;
            table-layout:fixed;
            td{
              padding: 0;
              word-wrap:break-word;
            }
            p{
              font-size: 1em;
              color: #111;
              text-align: left;
            }
            td.qProduct{
              width: 40%;

            }
            td.aProduct{
              width: 60%;
              p::before{
                content: " : "
              }
            }

          }
        }



      }

      .makeitLeft{

        text-align: left;
        padding-left: 1em;
        width: 60%
      }
      .makeitRight{

        text-align: right;
        padding-right: 1em;
        width: 40%;
      }

      .Product-Att{

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        vertical-align: bottom;
        padding: 0 10px;
        .infthum{
          font-size: 11px;
          color: #bdbdbd;
          i{color: $coloridentitas2;}
        }
        .infleft{text-align: left;}
        .infright{text-align: right;}

        .product-info2{

          .dateView{

            p,a{


              font-size: 9px;
              color: $coloridentitas2;
            }
          }

        }

        .product-info3{

          border-top: 1px solid #eee;
          vertical-align: bottom;
          bottom: 0;
          .infthum{margin-top: 5px;}
          .dateView{

            p,a{
              font-size: 10px;
              color: $coloridentitas2;
            }
            a.seller{

              font-size: 11px;

            }
          }
        }


      }






  }
  .thumbnail:hover .qty{

    -webkit-transform: translate3d(0,-40px,0);
     transform: translate3d(0,-40px,0);
     visibility:visible;
  }
  .thumbnail:hover{
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.1);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
  }
}
.ads-tab-penawaran{
  width: 85%;
  height: 90px;
  margin: 0 auto;
  margin-bottom: 1em;
  background-color: #eee;
  a.adsT{
    display: block;
    font-size: 24px;
    text-align: center;
    padding-top: 1em;
  }
}

.item.list-group-item{
    float: none;
    width: 100%;
    margin-right: 3px;
    background-color: #fff;
    margin-bottom: 0;
    .list-group-image{ margin-right: 3px;}
    .thumbnail{margin-bottom: 0;}
    .caption{padding: 0;margin: 0;width: 100%;}
    img{float: left;}
}

.item.list-group-item:nth-of-type(odd){
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after{
    display: table;
    content: " ";
}

.item.list-group-item:after{
    clear: both;
}
.list-group-item-text{
    margin: 0 0 11px;
}

div.paginationControll{
  position: relative;
  width: 100%;

  margin: 0 auto;
  margin-top: -1em;
  margin-left: -1em;
  padding: 0;
  top:0;
  left: 0;

    .jmlProduct{
      margin-top: -1em;
    }

    .paginationProduct{

      margin-top: -1em;
      padding-right: 0;
      /* versi 1
      ul.pagination{
        float: right;
        li{
            display: inline;
            margin: 0 1em;
        }
        li:last-child{
          margin-right: 0;
        }
        li.active{
          a{

            font-weight: bold;
            color: $coloridentitas1;
          }
        }

        li.next{

          a{
            text-transform: capitalize;
            font-weight: bold;
            color: $coloridentitas1;
          }

        }

      }
      */
      .prevNnext{
        display: inline;
        float: right;
        a{
          font-weight: bold;
          color: $coloridentitas1;

        }
        a.prev{
          margin-right: 1em;
        }
        a.prev::before{
          color: $coloridentitas1;
          font-family: FontAwesome;
          content:"\f104";
          margin-right: 5px;

        }
        a.next{
          right: 0;
        }
        a.next::after{
          color: $coloridentitas1;
          font-family: FontAwesome;
          content:"\f105";
          margin-left: 10px;
        }
      }
    }


}
