::-moz-selection {
 background: $coloridentitas1; color: #fff;
}

::selection { background: $coloridentitas1; color: #fff;}
 @-webkit-keyframes
icon-beat {  0% {
 -webkit-transform: scale(2);
 -ms-transform: scale(2);
 transform: scale(2);
}
 100% {
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
}
}
 @keyframes
icon-beat {  0% {
 -webkit-transform: scale(2);
 -ms-transform: scale(2);
 transform: scale(2);
}
 100% {
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
}
}



label.checkdefault,label.radiodefault {
  display: block;
  position: relative;
  //padding: 0.5rem 1rem;
  padding-left: 1rem;
  line-height: 24px;
  font-weight: normal;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

label.checkdefault:last-of-type, label.radiodefault:last-of-type { margin-right: 1rem; }

label.checkdefault i, label.radiodefault i {
  display: inline-block;
  height: 20px;
  position: relative;
  top: 4px;
  font-style: normal;
  color: #eee;
}

label.checkdefault span, label.radiodefault span {
  display: inline;
  margin-left: 5px;
  line-height: 25px;
  //color: gray;
  color: #000;
  font-size: 14px;
}

input.radiodefault,
input.checkboxdefault { display: none; }

input.radiodefault + i:before,
input.checkboxdefault + i:before {
  font-family: 'FontAwesome';
  //font-size: 28px;
  font-size: 24px;
  //height: 25px;
  //width: 25px;
  height: 20px;
  width: 20px;
  display: inline-block;
}

input.radiodefault:checked + i,
input.checkboxdefault:checked + i {
  position: relative;
  -webkit-animation: icon-beat 0.1s ease;
  animation: icon-beat 0.1s ease;
}

input.radiodefault:checked + i + span,
input.checkboxdefault:checked + i + span {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

input.radiodefault + i:before { content: "\f0c8"; }

input.radiodefault:checked + i:before { content: "\f046"; }

//input.radiodefault:checked + i + span,
input.radiodefault:checked + i:before { color: $coloridentitas1; }

input.checkboxdefault + i:before { content: "\f0c8"; }

input.checkboxdefault:checked + i:before { content: "\f046"; }

//input.checkboxdefault:checked + i + span,
input.checkboxdefault:checked + i:before { color: $coloridentitas1; }
