div.sidebar-Product, div.sidebar-Member, div.sidebar-produk{
  background-color: #fff;
  padding: 0 1em;
  padding-top: 3em;
  //min-height: 400px;
  border: 1px solid #eee;

  button.btn-cool{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
    border-radius: 3px;
    padding: 0.2em 1em;
  }
}
div.sidebar-Product{
  min-height: 400px;
}
div.sidebar-Member,div.sidebar-produk{
  button.btn-cool{
    margin-top: 1em;


  }
}
.checkfilter{
  padding-left: 1em;

}
.sidebarGrup{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  margin-bottom: 1em;

  .selectWarp{
    width: 100%;
    position:relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    color: #757575;
    select{
      border-radius: 3px;
      width: 100%;
      padding: 5px ;
      height: auto;
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;
      /* Safari 3-4, iOS 1-3.2, Android 1.6- */
      position:relative;
      background: url('../img/angle-down.png') no-repeat $mainbg;
      background-position: right 1em top 50%;
      background-size: 10px 10px;
      box-shadow: none;
      outline: none;
      border-color: #eee;
      color: #757575;
      option{
        color: #757575;
      }
    }
    select:hover,select:active,select:focus{
      box-shadow: none;
      outline: none;
      border-color: #eee;


    }
  }
  /*.selectWarp:after{
    content: "\f107";
    font-family: FontAwesome;
    padding:8px;
    position:relative;
    left:80%;
    top:-25px;
    z-index: 1;
    width:5px;
    line-height:5px;
  }*/
}

.sidebarGrup:last-child{
  margin-bottom: 0.3em;
}
.tipss{
  position: relative;
  border: 1px solid #bdbdbd;
  margin-top: 1em;
  width: 100%;
  background-color: #fff;
  height: auto;
  padding: 1em;
  span{font-weight: bold;color: $coloridentitas1;}
}
.sidebarMenu{
  position: relative;
  border: 1px solid #bdbdbd;
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
  width: 100%;
  background-color: #fff;
  .transition,ul.listMenu li.limenu ul.submenu {
    transition: all 0.2s ease-in-out;
  }
      .flipIn, h1, ul li {
      animation: flipdown 0.5s ease both;
      }
      .no-select, a {
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      }
        ul.listMenu {

          li.limenu {
            position: relative;
            padding: 10px 1em;
            margin: 0;
            border-top: 1px solid #eee;
            a.btnmenu {
              color: $coloridentitas1;
              text-transform: capitalize;
              font-size: 12px;
              line-height: 20px;
              font-weight: bold;
              letter-spacing: 1px;
              display: block;
              background-color: #fff;
              margin: 0;
              cursor: pointer;
            }
            a.btnmenu:hover{
              opacity: 1;
            }
            table.profile{
              width: 100%;
              td.pLeft{
                width: 25%;
              }
              td.pRight{
                width: 85%;
              }
			  .btn-cool{padding:5px;width:100%;}
              td.profile-picture{
				padding-right:1.2em;
                a.picture{
					overflow:hidden;

                  img{
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                  }
                }
              }
              td.name{
                padding-top: 15px;
                a{
                  font-weight: bold;
                  color: $coloridentitas1;
                }
              }
              td.memberSince{
                p{
                  font-size: 12px;
                  opacity: 0.6;
				  margin-bottom:0;
                }
              }
            }
            ul.submenu{
              position: relative;
              overflow: hidden;
              opacity: 1;

              transform: translate(0, 0);
              z-index: 2;
              li{
                border-bottom: 1px solid #bdbdbd;
                padding: 5px;
                background-color: #fafafa;
                padding-left: 1.5em;
                a{
                  text-transform: capitalize;
                  display: block;
                  width: 100%;
                  height: 100%;
                  margin: 0;
                  font-size: 12px;
                  font-weight: normal;

                }
              }
              li:last-child{border-bottom: 0;}
            }
          }
          li.limenu.subtrue{
            padding: 0;
            i{margin-top: 15px;}
            a.btnmenu{
              margin: 10px;
              margin-left: 15px;
            }
          }
          li.limenu:nth-of-type(1) {
            border-top: none;
            animation-delay: 0.2s;
          }
          li.limenu:nth-of-type(2) {
            animation-delay: 0.3s;
          }
          li.limenu:nth-of-type(3) {
            animation-delay: 0.5s;
          }
          li.limenu:last-of-type {
            padding-bottom: 0;
          }
        }
        ul li.limenu i {
          position: absolute;
          margin-top: 5px;
          right: 10px;
          color: $coloridentitas1;
        }
        ul li.limenu i::after {
          font-family: FontAwesome;
          content: "\f056";
        }
        ul li.limenu input[type=checkbox] {
          position: absolute;
          cursor: pointer;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0;
        }
        ul li.limenu input[type=checkbox]:checked ~ ul.submenu {
          margin-top: 0;
          max-height: 0;
          opacity: 0;
          transform: translate(0, 50%);
        }
        ul li.limenu input[type=checkbox]:checked ~ i::after {
          content: "\f055";
        }

}

.toggleSideFilter{
  position: relative;
   -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  input#trigertok{
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
  
  i {
    position: absolute;
	right:.85em;
	top:2em;
    color: #686868;
    font-size: 1.3em;

  }
  i::after {
    font-family: FontAwesome;
    content: "\f107";//\f106
  }
  .lbtriggeraaa{
		
		width:100%;
		background-color:$colorinput;
		border:1px solid $colorborder;
		border-radius:3px;
		padding-left:.2em;
		padding:3px;
	}
  .cekdemal{
    label{width: 100%;cursor: pointer;input{float: right;}}
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    opacity: 1;

    transform: translate(0, 0);
    z-index: 2;
	
    li{

      padding: 5px;
      padding-left: 1em;
      a{
        text-transform: capitalize;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        font-size: 12px;
        font-weight: normal;

      }
    }

  }
  input#trigertok:checked ~ .cekdemal {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
  input#trigertok:checked ~ label + i::after {
    //content: "\f107";
  }
}

/*---------------------------------------------
Sidebar menu efek mobile_menu_list
-----------------------------------------------*/
.mobile_menu_list, .mobile_menu_list * {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.mobile_menu_list {
	overflow:hidden;
	background:transparent;
	width:100%;
	margin:1em 0 0;

	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	line-height:1.5
}

.mobile_menu_list-section{
  border-top: 1px solid $coloridentitas2;
	.profile-info{
		position: relative;
		width: 100%;
		margin: 1em 0;

			.img-profile-box{
				max-width: 70px;
				max-height: 70px;
        overflow: hidden;
					img{
						width: 100%;
						height: 100%;
						border-radius: 50%;
						margin-left: 1.3em;
					}
			}
			.username{
				font-size: 16px;
				color: #fff;
				line-height: 45px;
				text-align: left;
			}
			.btn-wrap{
				position: relative;
				width: 100%;
				margin: 1em 0;
				text-align: center;
				.btn{
					width: 80%;
					border-radius: 5em;
				}
			}

	}
}
.mobile_menu_list-section:first-of-type{
  border-color: transparent;
}
.mobile_menu_list-section:last-of-type{
  border-bottom: 1px solid $coloridentitas2;
}
 /*----- Section Titles -----*/
.mobile_menu_list-section-title {
	width:100%;
	padding:10px 30px 10px 15px;
	display:inline-block;
	background:transparent;
	transition:all linear 0.15s;
	-webkit-transition:all linear 0.15s;
	-moz-transition:all linear 0.15s;
	-ms-transition:all linear 0.15s;
	-o-transition:all linear 0.15s;
	font-size:1.200em;
  font-weight: bold;
  text-transform: uppercase;
	color:$coloridentitas1;
	text-decoration:none;
	margin:0 0 1px 0;
	//border:1px solid #dadada;
	position:relative;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.mobile_menu_list-section-title.active, .mobile_menu_list-section-title:hover {
	background:transparent;
	color:#000;
}
/*----- Section Content -----*/
.mobile_menu_list-section-content {
	padding:0 0 0 1.5em;
	display:none;
	background:transparent;
	margin-bottom:2px;
		li{
			padding: 0.5em 0;

			a{
				color: #000;
				display: block;
			}
		}
}
.active, .open { display:block;}
.arrow {
	border-top:6px solid $coloridentitas1;
	border-right:6px solid transparent;
	border-bottom:6px solid transparent;
	border-left:6px solid transparent;
	float:right;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	position:absolute;
	top:50%;
	right:15px;
	margin-top:-3px;
}
.mobile_menu_list-section-title.active .arrow {
	border-top:6px solid transparent;
	border-bottom:6px solid $coloridentitas1;
	margin-top:-10px;
}

/*---------------------------------------------
Sidebar menu efek mobile_submenu_list
-----------------------------------------------*/
.mobile_submenu_list, .mobile_submenu_list * {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.mobile_submenu_list {
	overflow:hidden;
	background:transparent;
	width:100%;
	margin:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	line-height:1.5
}
.mobile_submenu_list-section{
	.profile-info{
		position: relative;
		width: 100%;
		margin: 1em 0;

			.img-profile-box{
				max-width: 70px;
				max-height: 70px;
					img{
						width: 100%;
						height: 100%;
						border-radius: 50%;
						margin-left: 1.3em;
					}
			}
			.username{
				font-size: 16px;
				color: #fff;
				line-height: 45px;
				text-align: left;
			}
			.btn-wrap{
				position: relative;
				width: 100%;
				margin: 1em 0;
				text-align: center;
				.btn{
					width: 80%;
					border-radius: 5em;
				}
			}

	}
}
 /*----- Section Titles -----*/
.mobile_submenu_list-section-title {
	width:100%;
	padding:10px 30px 10px 15px;
	display:inline-block;
	background:transparent;
	transition:all linear 0.15s;
	-webkit-transition:all linear 0.15s;
	-moz-transition:all linear 0.15s;
	-ms-transition:all linear 0.15s;
	-o-transition:all linear 0.15s;
	font-size:1.200em;
	color:#000;
	text-decoration:none;
	margin:0 0 1px 0;
	//border:1px solid #dadada;
	position:relative;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
}
.mobile_submenu_list-section-title.active, .mobile_submenu_list-section-title:hover {
	background:transparent;
	color:#000;
}
/*----- Section Content -----*/
.mobile_submenu_list-section-content {
	padding:0 0 0 1.5em;
	display:none;
	background:transparent;
	margin-bottom:2px;
		li{
			padding: 0.5em 0;

			a{
				color: #000;
				display: block;
			}
		}
}
.active, .open { display:block;}
.arrow {
	border-top:6px solid $coloridentitas1;
	border-right:6px solid transparent;
	border-bottom:6px solid transparent;
	border-left:6px solid transparent;
	float:right;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	position:absolute;
	top:50%;
	right:15px;
	margin-top:-3px;
}
.mobile_submenu_list-section-title.active .arrow {
	border-top:6px solid transparent;
	border-bottom:6px solid $coloridentitas1;
	margin-top:-10px;
}
