/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1280px) {



}





/*==========  Non-Mobile First Method  ==========*/
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 991px) {
}

@media only screen and (max-width : 767px) {
  .homeWrapper .konten .hk{
    padding-left: 1em;
  }
  .homeWrapper .konten .productCarousel .slick-slide img{
    min-width: 100%;
    max-height: 230px;
  }
}

@media only screen and (max-width : 480px) and (min-aspect-ratio: 4/3) {
  .homeWrapper .konten .hk{
    padding-left: 1em;
  }
  .homeWrapper .konten div.tabs .row div.tab-link{
    padding-bottom: 1em;
  }
  .homeWrapper .konten div.tabs .row div.tab-link:last-child{
    padding-left: 0;
  }
  .sidebarMenu,.tipss{
    display: none;
  }
  .homeWrapper{
    padding-top: 5em;
    padding-bottom: 10em;
  }
  .homeWrapper .konten .productCarousel .slick-slide img{
    width: 170px !important;
    height: 127.50px !important;
  }
}

@media only screen and (max-width : 320px) and (min-aspect-ratio: 4/3) {
  .homeWrapper .konten .hk{
    padding-left: 1em;
  }
  .homeWrapper .konten div.tabs .row div.tab-link{
    padding-bottom: 1em;
  }
  .homeWrapper .konten div.tabs .row div.tab-link:last-child{
    padding-left: 0;
  }
  .sidebarMenu,.tipss{
    display: none;
  }
  .homeWrapper{
    padding-top: 5em;
    padding-bottom: 10em;
  }
  .homeWrapper .konten .productCarousel .slick-slide img{
  //  min-width: 100%;
  //  max-height: 230px;
    width: 170px !important;
    height: 127.50px !important;

  }
}
