/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1280px) {



}





/*==========  Non-Mobile First Method  ==========*/
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 991px) {
}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 480px) {
  .list-product-content{
    padding-bottom: 4em;
    padding-top: 3em;
    .konten{
      padding: 1em;
      .boxed{
        max-width: 100%;
      }
    }
  }
  .konten .adsR{padding-left: 1em;}
  .konten a.ads{
    display: none;
  }
  .item .thumbnail .Product-caption .Product-Att .product-info3 {
    padding-top: 15px;
  }

}

@media only screen and (max-width : 320px) {

}
